.select2-results .select2-results__option {
  font-size: 13px;
}

.catalog-ordering span.select2-container span {
  border: none;
  text-transform: uppercase;
  font-size: 13px;
}
.catalog-ordering span.select2-container .selection .select2-selection__rendered {
  padding: 0 20px 0 0;
}
#billing_country_field .select2-selection__rendered,
#billing_country_field .select2-selection__placeholder,
#billing_state_field .select2-selection__rendered,
#billing_state_field .select2-selection__placeholder,
#calc_shipping_country_field .select2-selection__rendered,
#calc_shipping_country_field .select2-selection__placeholder,
#calc_shipping_state_field .select2-selection__rendered,
#calc_shipping_state_field .select2-selection__placeholder,
#shipping_country_field .select2-selection__rendered,
#shipping_country_field .select2-selection__placeholder,
#shipping_state_field .select2-selection__rendered,
#shipping_state_field .select2-selection__placeholder,
.woocommerce-widget-layered-nav-dropdown .select2-selection__rendered,
.woocommerce-widget-layered-nav-dropdown .select2-selection__placeholder {
  font-size: 0.875rem;
  color: #444 !important;
}