.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  will-change: opacity, transform;
}
.woocommerce ul.products li.product.animated,
.woocommerce-page ul.products li.product.animated {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}