@media screen and (max-width: 64em) {
  body.woocommerce.single-product .content-area {
    padding: 0;
  }
  body.woocommerce.single-product .upsells h2,
body.woocommerce.single-product .related h2 {
    text-align: left !important;
  }
}

@media screen and (max-width: 47.9375em) {
  .custom-layout .comment-notes,
.default-layout .comment-notes {
    text-align: left;
  }
  .custom-layout .woocommerce-tabs #tab-description,
.custom-layout .product_content_wrapper .woocommerce-tabs #tab-description,
.default-layout .woocommerce-tabs #tab-description,
.default-layout .product_content_wrapper .woocommerce-tabs #tab-description {
    text-align: left;
  }
  .custom-layout .woocommerce-tabs ul.tabs,
.custom-layout .product_content_wrapper .woocommerce-tabs ul.tabs,
.default-layout .woocommerce-tabs ul.tabs,
.default-layout .product_content_wrapper .woocommerce-tabs ul.tabs {
    margin-bottom: 20px !important;
  }
  .custom-layout .woocommerce-tabs ul.tabs li,
.custom-layout .product_content_wrapper .woocommerce-tabs ul.tabs li,
.default-layout .woocommerce-tabs ul.tabs li,
.default-layout .product_content_wrapper .woocommerce-tabs ul.tabs li {
    display: block !important;
  }
  .custom-layout .woocommerce-tabs ul.tabs li.active,
.custom-layout .product_content_wrapper .woocommerce-tabs ul.tabs li.active,
.default-layout .woocommerce-tabs ul.tabs li.active,
.default-layout .product_content_wrapper .woocommerce-tabs ul.tabs li.active {
    border-top: none !important;
  }
}
@media screen and (max-width: 55em) {
  .custom-layout .product:not(.product-type-grouped) .product_content_wrapper .product_images .product_image,
.default-layout .product:not(.product-type-grouped) .product_content_wrapper .product_images .product_image {
    padding: 0;
  }
  .custom-layout .product:not(.product-type-grouped) .product_content_wrapper .product_infos form.cart,
.default-layout .product:not(.product-type-grouped) .product_content_wrapper .product_infos form.cart {
    float: none;
  }
  .custom-layout .product:not(.product-type-grouped) .product_content_wrapper .product_infos .yith-wcwl-add-to-wishlist,
.default-layout .product:not(.product-type-grouped) .product_content_wrapper .product_infos .yith-wcwl-add-to-wishlist {
    margin: 0 0 20px;
  }
  .custom-layout .product .product_content_wrapper .product_infos .product_summary_top .woocommerce-product-rating,
.default-layout .product .product_content_wrapper .product_infos .product_summary_top .woocommerce-product-rating {
    float: none;
    text-align: left;
    top: 10px;
  }
  .custom-layout .product .product_content_wrapper .product_infos .product_summary_top .woocommerce-product-rating .woocommerce-review-link,
.default-layout .product .product_content_wrapper .product_infos .product_summary_top .woocommerce-product-rating .woocommerce-review-link {
    padding: 0;
  }
  .custom-layout .product .product_content_wrapper .product_infos form.cart,
.default-layout .product .product_content_wrapper .product_infos form.cart {
    margin-bottom: 20px;
  }
  .custom-layout .product .product_content_wrapper .product_infos .yith-wcwl-add-to-wishlist,
.default-layout .product .product_content_wrapper .product_infos .yith-wcwl-add-to-wishlist {
    margin: 0 2px 35px;
    height: auto;
    float: left;
    position: relative;
  }
  .custom-layout .woocommerce-tabs,
.custom-layout .product_content_wrapper .woocommerce-tabs,
.default-layout .woocommerce-tabs,
.default-layout .product_content_wrapper .woocommerce-tabs {
    padding-top: 40px;
  }
  .custom-layout .woocommerce-tabs ul.tabs,
.custom-layout .product_content_wrapper .woocommerce-tabs ul.tabs,
.default-layout .woocommerce-tabs ul.tabs,
.default-layout .product_content_wrapper .woocommerce-tabs ul.tabs {
    text-align: center !important;
  }
  .custom-layout .woocommerce-tabs ul.tabs li.active,
.custom-layout .product_content_wrapper .woocommerce-tabs ul.tabs li.active,
.default-layout .woocommerce-tabs ul.tabs li.active,
.default-layout .product_content_wrapper .woocommerce-tabs ul.tabs li.active {
    border-top: none !important;
  }
  .custom-layout section.related h2,
.custom-layout section.up-sells h2,
.default-layout section.related h2,
.default-layout section.up-sells h2 {
    margin: 40px 0 25px;
    text-align: center;
  }
}
@media screen and (min-width: 55.0625em) and (max-width: 64em) {
  .custom-layout .woocommerce-tabs,
.custom-layout .product_content_wrapper .woocommerce-tabs,
.default-layout .woocommerce-tabs,
.default-layout .product_content_wrapper .woocommerce-tabs {
    padding-top: 80px;
  }
  .custom-layout .woocommerce-tabs ul.tabs,
.custom-layout .product_content_wrapper .woocommerce-tabs ul.tabs,
.default-layout .woocommerce-tabs ul.tabs,
.default-layout .product_content_wrapper .woocommerce-tabs ul.tabs {
    text-align: left !important;
    margin-bottom: 30px !important;
  }
  .custom-layout .woocommerce-tabs ul.tabs li:first-child,
.custom-layout .product_content_wrapper .woocommerce-tabs ul.tabs li:first-child,
.default-layout .woocommerce-tabs ul.tabs li:first-child,
.default-layout .product_content_wrapper .woocommerce-tabs ul.tabs li:first-child {
    margin-left: 0 !important;
  }
  .custom-layout .woocommerce-tabs ul.tabs li:last-child,
.custom-layout .product_content_wrapper .woocommerce-tabs ul.tabs li:last-child,
.default-layout .woocommerce-tabs ul.tabs li:last-child,
.default-layout .product_content_wrapper .woocommerce-tabs ul.tabs li:last-child {
    margin-right: 0 !important;
  }
}
@media screen and (min-width: 48em) and (max-width: 64em) {
  .custom-layout .product_content_wrapper .product-images-wrapper,
.default-layout .product_content_wrapper .product-images-wrapper {
    margin: 0;
  }
  .custom-layout .product_content_wrapper .product_infos .product_summary_middle .product_title,
.default-layout .product_content_wrapper .product_infos .product_summary_middle .product_title {
    margin-bottom: 30px;
  }
  .custom-layout .related,
.default-layout .related {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 64em) {
  .custom-layout .product_content_wrapper,
.default-layout .product_content_wrapper {
    margin-top: 0;
    max-width: 100%;
  }
  .custom-layout .product_content_wrapper div.images.woocommerce-product-gallery,
.default-layout .product_content_wrapper div.images.woocommerce-product-gallery {
    margin-bottom: 0;
  }
  .custom-layout .product_content_wrapper .product_title,
.default-layout .product_content_wrapper .product_title {
    width: 100% !important;
    word-break: break-word;
  }
  .custom-layout .product_content_wrapper .product_infos,
.default-layout .product_content_wrapper .product_infos {
    padding-bottom: 0;
    overflow-y: visible;
  }
  .custom-layout .product_content_wrapper .product_infos .product_summary_top,
.default-layout .product_content_wrapper .product_infos .product_summary_top {
    margin: 0;
    padding: 35px 0 30px;
  }
  .custom-layout .product_content_wrapper .product_infos .product_summary_top .woocommerce-breadcrumb,
.default-layout .product_content_wrapper .product_infos .product_summary_top .woocommerce-breadcrumb {
    float: none;
    line-height: 1.4;
    width: 100%;
  }
  .custom-layout .product_content_wrapper .product_infos .price,
.default-layout .product_content_wrapper .product_infos .price {
    padding: 0 0 15px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 47.9375em) {
  .default-layout .product-images-wrapper {
    margin: 0 -30px;
  }
}

@media screen and (max-width: 47.9375em) {
  .custom-layout .product-images-wrapper {
    margin: 0 -20px;
  }
  .custom-layout .product_infos,
.custom-layout .woocommerce-tabs,
.custom-layout .single_product_summary_related,
.custom-layout .single_product_summary_upsell {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}