/*
	Specific for WP Block Widget Editor Preview

    Created on : 01.02.2022, 14:26:38
    Author     : guenter
	Since:	   : 4.9
*/

/*	reset to default colors	*/
body.avia-iframe-request.avia-rest-request{
	background-color: #f8f8f8;
	color: #969696;
}

body.avia-iframe-request.avia-rest-request .avia-widget-container{
	background-color: #fffbcc;
	color: #1e1e1e;
	padding: 10px 0 10px 10px;
}

body.avia-iframe-request.avia-rest-request .avia-widget-container.avia_no_block_preview .avia-preview-headline{
	background-color: #e3e3e3;
	font-size: 20px;
	font-weight: 900;
	padding: 10px 0 5px 10px;
}

body.avia-iframe-request.avia-rest-request .avia-widget-container.avia_no_block_preview .avia-preview-info{
	font-size: 12px;
	font-weight: normal;
	padding: 0 0 0 10px;
}

body.avia-iframe-request.avia-rest-request .avia-widget-container.avia_no_block_preview .avia-preview-in-front{
	font-size: 13px;
	font-weight: 600;
	padding: 0 0 0 10px;
}

body.avia-iframe-request.avia-rest-request .avia_partner_widget a,
body.avia-iframe-request.avia-rest-request .avia_partner_widget a:hover{
	width: auto;
	padding-bottom: 0;
}