@charset "UTF-8";
@font-face {
  font-family: 'Radnika';
  font-style: normal;
  font-weight: 500;
  src: url("../../inc/fonts/theme/Radnika-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../../inc/fonts/theme/Radnika-Regular.eot?#iefix") format("embedded-opentype"), url("../../inc/fonts/theme/Radnika-Regular.woff2") format("woff2"), url("../../inc/fonts/theme/Radnika-Regular.woff") format("woff");
  /* Pretty Modern Browsers */ }

@font-face {
  font-family: 'Radnika';
  font-style: normal;
  font-weight: 700;
  src: url("../../inc/fonts/theme/Radnika-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../../inc/fonts/theme/Radnika-Bold.eot?#iefix") format("embedded-opentype"), url("../../inc/fonts/theme/Radnika-Bold.woff2") format("woff2"), url("../../inc/fonts/theme/Radnika-Bold.woff") format("woff");
  /* Pretty Modern Browsers */ }

@font-face {
  font-family: 'NeueEinstellung';
  font-style: normal;
  font-weight: 500;
  src: url("../../inc/fonts/theme/NeueEinstellung-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../../inc/fonts/theme/NeueEinstellung-Regular.eot?#iefix") format("embedded-opentype"), url("../../inc/fonts/theme/NeueEinstellung-Regular.woff2") format("woff2"), url("../../inc/fonts/theme/NeueEinstellung-Regular.woff") format("woff");
  /* Pretty Modern Browsers */ }

@font-face {
  font-family: 'NeueEinstellung';
  font-style: normal;
  font-weight: 700;
  src: url("../../inc/fonts/theme/NeueEinstellung-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../../inc/fonts/theme/NeueEinstellung-Bold.eot?#iefix") format("embedded-opentype"), url("../../inc/fonts/theme/NeueEinstellung-Bold.woff2") format("woff2"), url("../../inc/fonts/theme/NeueEinstellung-Bold.woff") format("woff");
  /* Pretty Modern Browsers */ }

.wp-block,
.block-editor-block-list__block,
.wp-block .block-editor-block-list__block {
  max-width: 1113px;
  margin-left: auto;
  margin-right: auto; }

.wp-block[data-align="wide"],
.block-editor-block-list__block[data-align="wide"],
.wp-block[data-align="wide"] .block-editor-block-list__block {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }

.wp-block[data-align="full"],
.block-editor-block-list__block[data-align="full"],
.wp-block[data-align="full"] .block-editor-block-list__block {
  max-width: none; }

.block-editor-block-list__block h1,
.block-editor-block-list__block h2,
.block-editor-block-list__block h3,
.block-editor-block-list__block h4,
.block-editor-block-list__block h5,
.block-editor-block-list__block h6,
h1.block-editor-block-list__block,
h2.block-editor-block-list__block,
h3.block-editor-block-list__block,
h4.block-editor-block-list__block,
h5.block-editor-block-list__block,
h6.block-editor-block-list__block {
  font-weight: 900; }

.block-editor-block-list__block {
  -webkit-font-smoothing: antialiased !important;
  /* General Styles */ }
  .block-editor-block-list__block pre {
    font-family: monospace, monospace;
    font-size: 1em; }
  .block-editor-block-list__block table tr td {
    font-size: 1.125rem;
    padding: 0.5em; }
  .block-editor-block-list__block table tr td div {
    padding: 0; }
  .block-editor-block-list__block label:not(.components-placeholder__label) {
    display: block;
    margin: 0;
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 1px;
    line-height: 2em; }
  @media all and (max-width: 1024px) {
    .block-editor-block-list__block dl,
    .block-editor-block-list__block ol,
    .block-editor-block-list__block p,
    .block-editor-block-list__block ul,
    .block-editor-block-list__block ul li ol,
    .block-editor-block-list__block ul li ul {
      font-size: 14px; } }
  .block-editor-block-list__block .editor-post-title__input {
    text-align: center; }
  .block-editor-block-list__block .gutenbergForm input,
  .block-editor-block-list__block input,
  .block-editor-block-list__block select,
  .block-editor-block-list__block textarea:not(.editor-post-title__input) {
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #444;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    height: 2.5rem;
    outline: none;
    line-height: 1.5;
    font-weight: 700;
    margin: 0;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    width: 100%; }
    .block-editor-block-list__block .gutenbergForm input::-webkit-input-placeholder,
    .block-editor-block-list__block input::-webkit-input-placeholder,
    .block-editor-block-list__block select::-webkit-input-placeholder,
    .block-editor-block-list__block textarea:not(.editor-post-title__input)::-webkit-input-placeholder {
      font-weight: normal;
      color: rgba(0, 0, 0, 0.2); }
    .block-editor-block-list__block .gutenbergForm input:-moz-placeholder,
    .block-editor-block-list__block input:-moz-placeholder,
    .block-editor-block-list__block select:-moz-placeholder,
    .block-editor-block-list__block textarea:not(.editor-post-title__input):-moz-placeholder {
      font-weight: normal;
      color: rgba(0, 0, 0, 0.2); }
    .block-editor-block-list__block .gutenbergForm input::-moz-placeholder,
    .block-editor-block-list__block input::-moz-placeholder,
    .block-editor-block-list__block select::-moz-placeholder,
    .block-editor-block-list__block textarea:not(.editor-post-title__input)::-moz-placeholder {
      font-weight: normal;
      color: rgba(0, 0, 0, 0.2); }
    .block-editor-block-list__block .gutenbergForm input:-ms-input-placeholder,
    .block-editor-block-list__block input:-ms-input-placeholder,
    .block-editor-block-list__block select:-ms-input-placeholder,
    .block-editor-block-list__block textarea:not(.editor-post-title__input):-ms-input-placeholder {
      font-weight: normal;
      color: rgba(0, 0, 0, 0.2); }
  .block-editor-block-list__block textarea.block-editor-default-block-appender__content {
    border: 0;
    font-size: 16px;
    line-height: 1.5;
    opacity: .62;
    font-weight: normal; }
    .block-editor-block-list__block textarea.block-editor-default-block-appender__content:hover {
      outline: 0; }
  .block-editor-block-list__block select {
    background-color: #fff; }
  .block-editor-block-list__block [type='checkbox'] + label,
  .block-editor-block-list__block [type='radio'] + label {
    display: inline-block;
    margin: 0 10px 0 0;
    line-height: 1.5; }
  .block-editor-block-list__block input[type="checkbox"],
  .block-editor-block-list__block input[type="radio"],
  .block-editor-block-list__block .input-radio,
  .block-editor-block-list__block .input-checkbox {
    width: 17px;
    height: auto;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    position: relative;
    border: none;
    cursor: pointer;
    margin: 0 10px 0 0;
    background: transparent;
    outline-width: 0;
    border: 0;
    top: -2px;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .block-editor-block-list__block input[type="checkbox"]:checked,
    .block-editor-block-list__block input[type="radio"]:checked,
    .block-editor-block-list__block .input-radio:checked,
    .block-editor-block-list__block .input-checkbox:checked {
      background: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .block-editor-block-list__block input[type="checkbox"]:checked:focus,
      .block-editor-block-list__block input[type="radio"]:checked:focus,
      .block-editor-block-list__block .input-radio:checked:focus,
      .block-editor-block-list__block .input-checkbox:checked:focus {
        -webkit-box-shadow: none;
        box-shadow: none; }
    .block-editor-block-list__block input[type="checkbox"]:after, .block-editor-block-list__block input[type="checkbox"]:before,
    .block-editor-block-list__block input[type="radio"]:after,
    .block-editor-block-list__block input[type="radio"]:before,
    .block-editor-block-list__block .input-radio:after,
    .block-editor-block-list__block .input-radio:before,
    .block-editor-block-list__block .input-checkbox:after,
    .block-editor-block-list__block .input-checkbox:before {
      content: ""; }
    .block-editor-block-list__block input[type="checkbox"]:after,
    .block-editor-block-list__block input[type="radio"]:after,
    .block-editor-block-list__block .input-radio:after,
    .block-editor-block-list__block .input-checkbox:after {
      display: block;
      width: 17px;
      height: 17px;
      -webkit-transition: 240ms;
      -o-transition: 240ms;
      transition: 240ms; }
    .block-editor-block-list__block input[type="checkbox"]:disabled:after,
    .block-editor-block-list__block input[type="radio"]:disabled:after,
    .block-editor-block-list__block .input-radio:disabled:after,
    .block-editor-block-list__block .input-checkbox:disabled:after {
      border-color: #ddd;
      cursor: not-allowed; }
    .block-editor-block-list__block input[type="checkbox"]:disabled:checked:after,
    .block-editor-block-list__block input[type="radio"]:disabled:checked:after,
    .block-editor-block-list__block .input-radio:disabled:checked:after,
    .block-editor-block-list__block .input-checkbox:disabled:checked:after {
      border-color: #ddd; }
    .block-editor-block-list__block input[type="checkbox"]:disabled:checked:before,
    .block-editor-block-list__block input[type="radio"]:disabled:checked:before,
    .block-editor-block-list__block .input-radio:disabled:checked:before,
    .block-editor-block-list__block .input-checkbox:disabled:checked:before {
      border-color: #999; }
  .block-editor-block-list__block .input-checkbox:after,
  .block-editor-block-list__block input[type="checkbox"]:after {
    border-radius: 2px;
    z-index: 999; }
  .block-editor-block-list__block .input-checkbox:checked:after,
  .block-editor-block-list__block input[type="checkbox"]:checked:after {
    border-color: #ddd; }
  .block-editor-block-list__block .input-checkbox:checked:before,
  .block-editor-block-list__block input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 11px;
    display: table;
    width: 5px;
    height: 10px;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .block-editor-block-list__block .input-radio,
  .block-editor-block-list__block input[type="radio"] {
    border-radius: 50%; }
    .block-editor-block-list__block .input-radio:before,
    .block-editor-block-list__block input[type="radio"]:before {
      position: absolute;
      left: -3px;
      top: -3px;
      background: #ccc;
      width: 17px;
      height: 17px;
      display: block;
      border-radius: 50%;
      -webkit-transition: 240ms;
      -o-transition: 240ms;
      transition: 240ms;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
    .block-editor-block-list__block .input-radio:after,
    .block-editor-block-list__block input[type="radio"]:after {
      border-radius: 50%; }
    .block-editor-block-list__block .input-radio:checked:before,
    .block-editor-block-list__block input[type="radio"]:checked:before {
      -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5); }
    .block-editor-block-list__block .input-radio:checked:after,
    .block-editor-block-list__block input[type="radio"]:checked:after {
      border-color: #ddd; }
    .block-editor-block-list__block .input-radio:checked:disabled:before,
    .block-editor-block-list__block input[type="radio"]:checked:disabled:before {
      background-color: #ccc; }
  .block-editor-block-list__block select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../../images/down.svg");
    background-origin: content-box;
    background-position: right -1rem center;
    background-repeat: no-repeat;
    background-size: 28px; }
  .block-editor-block-list__block .block-library-list .editor-rich-text__tinymce ol,
  .block-editor-block-list__block .block-library-list .editor-rich-text__tinymce ol,
  .block-editor-block-list__block .block-library-list .editor-rich-text__tinymce ul,
  .block-editor-block-list__block .block-library-list .editor-rich-text__tinymce ul,
  .block-editor-block-list__block ol ol,
  .block-editor-block-list__block ol ul,
  .block-editor-block-list__block ul ol,
  .block-editor-block-list__block ul ul {
    padding-left: 0;
    margin-top: 0;
    margin-left: 1.25rem;
    margin-bottom: 0; }
  .block-editor-block-list__block .editor-styles-wrapper p,
  .block-editor-block-list__block p {
    line-height: 1.5; }
  .block-editor-block-list__block ol,
  .block-editor-block-list__block ul {
    padding-left: 0; }
  .block-editor-block-list__block dl,
  .block-editor-block-list__block ol,
  .block-editor-block-list__block ul,
  .block-editor-block-list__block ul li ol,
  .block-editor-block-list__block ul li ul {
    line-height: 1.5;
    list-style-position: outside; }
  .block-editor-block-list__block li {
    margin-bottom: 0; }
  .block-editor-block-list__block ul ul li {
    list-style-type: disc; }

.editor-post-title {
  margin-bottom: 20px; }

/* Quotes */
.wp-block-quote,
.wp-block-quote:not(.is-large):not(.is-style-large) {
  padding: 0 1.8em; }

.wp-block-pullquote blockquote {
  max-width: 60%;
  margin: 0 auto; }

.wp-block-pullquote p,
.wp-block-pullquote blockquote > .editor-rich-text p,
.wp-block-quote p {
  font-size: 1.875rem;
  line-height: 1.33;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700; }

.wp-block-pullquote .has-text-color .wp-block-pullquote__citation,
.wp-block-pullquote .has-text-color p,
.wp-block-pullquote blockquote > .editor-rich-text .has-text-color .wp-block-pullquote__citation,
.wp-block-pullquote blockquote > .editor-rich-text .has-text-color p,
.wp-block-quote .has-text-color .wp-block-pullquote__citation,
.wp-block-quote .has-text-color p {
  color: inherit; }

.wp-block-pullquote .wp-block-pullquote__citation,
.wp-block-pullquote .wp-block-quote__citation,
.wp-block-pullquote blockquote > .editor-rich-text .wp-block-pullquote__citation,
.wp-block-pullquote blockquote > .editor-rich-text .wp-block-quote__citation,
.wp-block-quote .wp-block-pullquote__citation,
.wp-block-quote .wp-block-quote__citation {
  margin-top: 15px;
  line-height: 20px; }

@media all and (max-width: 767px) {
  .wp-block-pullquote p,
  .wp-block-quote p {
    font-size: 23px; } }

.wp-block-pullquote .wp-block-quote__citation,
.wp-block-pullquote__citation,
.wp-block-quote .wp-block-quote__citation {
  font-size: 14px;
  font-weight: 700;
  text-transform: initial; }
  .wp-block-pullquote .wp-block-quote__citation:before,
  .wp-block-pullquote__citation:before,
  .wp-block-quote .wp-block-quote__citation:before {
    content: "— "; }

.editor-block-list__block[data-type="core/pullquote"][data-align="left"] .editor-block-list__block-edit,
.editor-block-list__block[data-type="core/pullquote"][data-align="right"] .editor-block-list__block-edit {
  max-width: 305px; }
  .editor-block-list__block[data-type="core/pullquote"][data-align="left"] .editor-block-list__block-edit p,
  .editor-block-list__block[data-type="core/pullquote"][data-align="right"] .editor-block-list__block-edit p {
    font-size: 20px;
    line-height: 27px; }

.editor-block-list__block[data-type="core/pullquote"][data-align="right"] .editor-block-list__block-edit .is-style-solid-color blockquote {
  text-align: right; }

/* Video */
.wp-block-video video {
  width: 100%; }

/* Covers */
.wp-block-cover .wp-block-cover-text {
  font-size: 2em !important;
  line-height: 1.25 !important;
  font-weight: bold;
  color: #fff;
  padding: 10%;
  margin: auto; }

.wp-block-cover .editor-rich-text {
  width: 100%; }

/* Images */
.wp-block-image figcaption {
  position: absolute;
  bottom: 25px;
  width: 180px;
  padding: 15px 20px;
  background: #333333;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  right: -25px; }

/* Buttons */
.wp-block-button {
  text-transform: uppercase; }

.wp-block-button .wp-block-button__link {
  font-size: 13px;
  font-weight: 700; }

/* Covers */
.editor-block-list__block[data-type="core/cover"][data-align="left"] .wp-block-cover-text {
  text-align: left; }

.editor-block-list__block[data-type="core/cover"][data-align="right"] .wp-block-cover-text {
  text-align: right; }

/* Widgets */
.wp-block-archives ul,
.wp-block-categories,
.wp-block-categories ul,
.wp-block-latest-posts,
.wp-block-latest-posts ul,
ul.wp-block-archives {
  padding-left: 0;
  margin: 0; }

.wp-block-archives li,
.wp-block-categories li,
.wp-block-latest-posts li {
  list-style-type: none; }

/* Links */
.wp-block-archives a,
.wp-block-categories a,
.wp-block-latest-posts a {
  text-decoration: none; }

/* Latest Posts */
.wp-block-latest-posts li {
  margin-bottom: 35px !important; }
  .wp-block-latest-posts li > a {
    display: block;
    font-weight: 900;
    line-height: 1.1333em; }
  .wp-block-latest-posts li .wp-block-latest-posts__post-date {
    margin-top: 17px;
    margin-bottom: 0; }
  .wp-block-latest-posts li .wp-block-latest-posts__post-excerpt {
    margin-top: 17px; }
    .wp-block-latest-posts li .wp-block-latest-posts__post-excerpt a {
      font-weight: bold;
      font-size: 0.8125rem;
      text-transform: uppercase; }

/* Media & Text */
.wp-block-media-text .editor-rich-text p {
  font-size: 36px !important;
  font-weight: 700;
  line-height: 54px; }

/* Paragraph */
p.has-drop-cap:first-letter {
  font-weight: 700; }

/* Misc */
.components-button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

.wc-block-featured-product__description,
.wc-block-featured-product__description p,
.wc-block-featured-product__title {
  color: #fff !important; }

.wc-block-products .wc-product-preview__title {
  text-align: left;
  padding-top: 3px; }
  @media only screen and (max-width: 768px) {
    .wc-block-products .wc-product-preview__title {
      font-size: 12px; } }

.wc-block-products .wc-product-preview__price {
  text-align: left;
  font-size: 14px;
  margin-top: 0;
  line-height: 1.5; }

.wc-block-products .wc-product-preview__image {
  width: 100% !important; }

.wc-block-products .wc-product-preview {
  max-width: 100% !important; }

.wc-block-products .wp-block-button {
  display: block;
  text-align: left;
  line-height: 1.5; }
  .wc-block-products .wp-block-button .wc-product-preview__add-to-cart {
    background-color: transparent;
    font-size: 13px !important;
    padding: 0;
    margin-top: 0; }

.wc-block-products .wc-product-preview .star-rating {
  font-size: 10px;
  margin-left: 0;
  margin-top: 0; }

@media screen and (min-width: 768px) {
  .wc-block-grid.has-3-columns .wc-block-grid__products .wc-block-grid__product {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 33%;
    flex: 1 0 33%;
    max-width: 33%; }
  .wc-block-grid.has-4-columns .wc-block-grid__products .wc-block-grid__product {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 33%;
    flex: 1 0 33%;
    max-width: 33%; }
  .wc-block-grid.has-5-columns .wc-block-grid__products .wc-block-grid__product {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 33%;
    flex: 1 0 33%;
    max-width: 33%; }
  .wc-block-grid.has-6-columns .wc-block-grid__products .wc-block-grid__product {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 33%;
    flex: 1 0 33%;
    max-width: 33%; }
  .wc-block-grid.has-7-columns .wc-block-grid__products .wc-block-grid__product {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 33%;
    flex: 1 0 33%;
    max-width: 33%; }
  .wc-block-grid.has-8-columns .wc-block-grid__products .wc-block-grid__product {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 33%;
    flex: 1 0 33%;
    max-width: 33%; } }

@media screen and (min-width: 992px) {
  .wc-block-grid.has-2-columns .wc-block-grid__products .wc-block-grid__product {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(50%);
    flex: 1 0 calc(50%);
    max-width: 50%; }
  .wc-block-grid.has-3-columns .wc-block-grid__products .wc-block-grid__product {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(33.33333%);
    flex: 1 0 calc(33.33333%);
    max-width: 33.33333%; }
  .wc-block-grid.has-4-columns .wc-block-grid__products .wc-block-grid__product {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(25%);
    flex: 1 0 calc(25%);
    max-width: 25%; }
  .wc-block-grid.has-5-columns .wc-block-grid__products .wc-block-grid__product {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(20%);
    flex: 1 0 calc(20%);
    max-width: 20%; }
  .wc-block-grid.has-6-columns .wc-block-grid__products .wc-block-grid__product {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(16.66667%);
    flex: 1 0 calc(16.66667%);
    max-width: 16.66667%; }
  .wc-block-grid.has-7-columns .wc-block-grid__products .wc-block-grid__product {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(14.28571%);
    flex: 1 0 calc(14.28571%);
    max-width: 14.28571%; }
  .wc-block-grid.has-8-columns .wc-block-grid__products .wc-block-grid__product {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(12.5%);
    flex: 1 0 calc(12.5%);
    max-width: 12.5%; } }

.wc-block-grid.has-1-columns .wc-block-grid__products .wc-block-grid__product {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  max-width: 100%;
  width: 100%; }

.wc-block-grid.alignfull .wc-block-grid__products {
  margin: 0 15px; }

.wc-block-grid .wc-block-grid__products {
  margin: 0 -10px; }
  .wc-block-grid .wc-block-grid__products .wc-block-grid__product {
    text-align: left;
    padding: 0 10px 26px;
    margin-bottom: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%; }
    .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-image {
      margin-bottom: 17px; }
      .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-image img {
        width: 100%;
        height: auto; }
    .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-link {
      text-decoration: none; }
    .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title {
      font-weight: 400;
      font-size: 13px;
      line-height: 1.5;
      margin-bottom: 4px;
      text-decoration: none; }
      .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title a {
        font-size: 13px;
        text-decoration: none; }
    .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-price {
      font-size: 13px;
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: 4px; }
      .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-price .wc-block-grid__product-price__value {
        font-size: 13px; }
      .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-price del {
        opacity: 0.5; }
      .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-price ins {
        background: none;
        font-weight: 700;
        text-decoration: none; }
    .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-rating {
      font-size: 10px;
      margin-bottom: 4px;
      line-height: 10px; }
      .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-rating .wc-block-grid__product-rating__stars {
        margin: 0; }
      .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-rating .star-rating {
        overflow: hidden;
        position: relative;
        width: 5.3em;
        height: 1.618em;
        line-height: 1.618;
        font-size: 1em;
        font-family: star;
        font-weight: 400;
        display: -block;
        margin: 0;
        text-align: left; }
        .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-rating .star-rating:before {
          content: "\53\53\53\53\53";
          top: 0;
          left: 0;
          right: 0;
          position: absolute;
          opacity: .5;
          color: #aaa; }
        .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-rating .star-rating span {
          overflow: hidden;
          top: 0;
          left: 0;
          right: 0;
          position: absolute;
          padding-top: 1.5em; }
          .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-rating .star-rating span:before {
            content: "\53\53\53\53\53";
            top: 0;
            left: 0;
            right: 0;
            position: absolute; }
    .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-onsale {
      min-height: 0;
      min-width: 0;
      padding: 2px 8px 0;
      border: 0;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      line-height: 1.5em;
      left: auto;
      margin: 0;
      border-radius: 0;
      position: absolute;
      top: 15px;
      left: 25px;
      right: auto;
      text-shadow: none;
      color: #ffffff;
      -webkit-box-shadow: none;
      box-shadow: none;
      text-transform: uppercase; }
    .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-add-to-cart .wp-block-button__link {
      font-size: 0.8125rem;
      font-weight: bold;
      background: none;
      padding: 0;
      text-align: left;
      text-transform: uppercase;
      vertical-align: text-top; }
      .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-add-to-cart .wp-block-button__link.added:after {
        content: ''; }

.wc-block-grid .wc-block-sort-select__select {
  background-position: right -1.5rem center;
  background-color: transparent;
  border: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase; }

.wc-block-grid .wc-block-pagination button {
  cursor: pointer;
  font-weight: 700;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.block-editor-block-list__block[data-type="woocommerce/attribute-filter"] h3,
.block-editor-block-list__block[data-type="woocommerce/price-filter"] h3,
.block-editor-block-list__block[data-type="woocommerce/active-filters"] h3 {
  font-size: 0;
  margin: 0; }

.block-editor-block-list__block[data-type="woocommerce/attribute-filter"] .wc-block-component-title,
.block-editor-block-list__block[data-type="woocommerce/price-filter"] .wc-block-component-title,
.block-editor-block-list__block[data-type="woocommerce/active-filters"] .wc-block-component-title {
  font-size: 13px;
  text-transform: uppercase;
  padding: 0;
  border: 0; }

.block-editor-block-list__block[data-type="woocommerce/active-filters"] ul.wc-block-active-filters-list li {
  padding: 0 0 0 25px; }
  .block-editor-block-list__block[data-type="woocommerce/active-filters"] ul.wc-block-active-filters-list li .wc-block-active-filters-list-item__type {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase; }
  .block-editor-block-list__block[data-type="woocommerce/active-filters"] ul.wc-block-active-filters-list li .wc-block-active-filters-list-item__name {
    font-size: 13px; }

.block-editor-block-list__block[data-type="woocommerce/active-filters"] .wc-block-active-filters-list button {
  left: 0;
  width: 18px; }
  .block-editor-block-list__block[data-type="woocommerce/active-filters"] .wc-block-active-filters-list button:before {
    background-image: none;
    content: "X";
    cursor: pointer;
    border: 0;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    margin-right: 10px;
    font-size: 10px;
    line-height: 1.2;
    width: 15px;
    height: 15px;
    padding: 1px 2px 1px 2.5px;
    border-radius: 3px; }

.block-editor-block-list__block[data-type="woocommerce/active-filters"] .wc-block-active-filters__clear-all {
  font-size: 13px;
  font-weight: bold;
  float: none;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  text-transform: uppercase; }

.block-editor-block-list__block[data-type="woocommerce/attribute-filter"] ul.wc-block-checkbox-list li label {
  font-weight: normal;
  text-transform: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.block-editor-block-list__block[data-type="woocommerce/attribute-filter"] ul.wc-block-checkbox-list li input[type="checkbox"] {
  width: 15px; }
  .block-editor-block-list__block[data-type="woocommerce/attribute-filter"] ul.wc-block-checkbox-list li input[type="checkbox"]:after {
    border-width: 1px;
    width: 15px;
    height: 15px;
    top: 1px;
    position: relative; }

.block-editor-block-list__block[data-type="woocommerce/attribute-filter"] ul.wc-block-checkbox-list li input:checked + label {
  font-weight: bold; }

.block-editor-block-list__block[data-type="woocommerce/attribute-filter"] ul.wc-block-checkbox-list li.show-more button, .block-editor-block-list__block[data-type="woocommerce/attribute-filter"] ul.wc-block-checkbox-list li.show-less button {
  font-weight: bold;
  font-size: 13px;
  margin-top: 15px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.wc-block-product-categories.is-list ul {
  list-style: none;
  margin-left: 0; }
  .wc-block-product-categories.is-list ul ul {
    margin-left: 20px; }
    .wc-block-product-categories.is-list ul ul li::marker {
      display: none; }

.wc-block-featured-category .wc-block-featured-category__description {
  max-width: 75%; }

.wc-block-featured-category.has-left-content .wc-block-featured-category__description {
  margin-left: 0;
  margin-right: auto; }

.wc-block-featured-category.has-right-content .wc-block-featured-category__description {
  margin-right: 0;
  margin-left: auto; }

.wc-block-featured-product .wc-block-featured-product__description {
  max-width: 75%; }

.wc-block-featured-product.has-left-content .wc-block-featured-product__description {
  margin-left: 0;
  margin-right: auto; }

.wc-block-featured-product.has-right-content .wc-block-featured-product__description {
  margin-right: 0;
  margin-left: auto; }

.wc-block-featured-product .wc-block-featured-product__price .woocommerce-Price-amount {
  font-weight: 700; }

.wc-block-featured-product .wc-block-featured-product__wrapper {
  color: #fff; }
  .wc-block-featured-product .wc-block-featured-product__wrapper ins {
    background: none; }

.wc-block-product-categories.is-list ul {
  list-style: none; }
  .wc-block-product-categories.is-list ul li {
    list-style-type: none; }

.wc-block-reviews-by-product .wc-block-review-list-item__image img,
.wc-block-all-reviews .wc-block-review-list-item__image img,
.wc-block-reviews-by-category .wc-block-review-list-item__image img {
  background: none;
  border: 0;
  margin: 0;
  line-height: 1;
  position: absolute;
  float: none;
  left: 0;
  top: -5px;
  width: 50px;
  height: 50px;
  padding: 0;
  overflow: hidden;
  border-radius: 70px; }

.wc-block-reviews-by-product .wc-block-review-list-item__text__read_more,
.wc-block-all-reviews .wc-block-review-list-item__text__read_more,
.wc-block-reviews-by-category .wc-block-review-list-item__text__read_more {
  display: block;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 2em;
  text-transform: uppercase;
  text-decoration: none; }

.wc-block-reviews-by-product .wp-block-button__link,
.wc-block-all-reviews .wp-block-button__link,
.wc-block-reviews-by-category .wp-block-button__link {
  padding: 14px 24px 11px; }
  .wc-block-reviews-by-product .wp-block-button__link span,
  .wc-block-all-reviews .wp-block-button__link span,
  .wc-block-reviews-by-category .wp-block-button__link span {
    text-transform: uppercase; }

.wc-block-reviews-by-product .wc-block-review-list-item__author,
.wc-block-reviews-by-product .wc-block-review-list-item__published-date,
.wc-block-reviews-by-product .wc-block-review-list-item__product,
.wc-block-all-reviews .wc-block-review-list-item__author,
.wc-block-all-reviews .wc-block-review-list-item__published-date,
.wc-block-all-reviews .wc-block-review-list-item__product,
.wc-block-reviews-by-category .wc-block-review-list-item__author,
.wc-block-reviews-by-category .wc-block-review-list-item__published-date,
.wc-block-reviews-by-category .wc-block-review-list-item__product {
  font-size: .83em;
  color: #767676; }

.wc-block-reviews-by-product .wc-block-review-list-item__author,
.wc-block-all-reviews .wc-block-review-list-item__author,
.wc-block-reviews-by-category .wc-block-review-list-item__author {
  font-weight: bold; }

.wc-block-reviews-by-product .wc-block-review-list-item__product a,
.wc-block-all-reviews .wc-block-review-list-item__product a,
.wc-block-reviews-by-category .wc-block-review-list-item__product a {
  text-decoration: none; }

.wc-block-reviews-by-product .wc-block-review-list-item__info,
.wc-block-all-reviews .wc-block-review-list-item__info,
.wc-block-reviews-by-category .wc-block-review-list-item__info {
  margin-bottom: 10px; }

.wc-block-reviews-by-product .wc-block-review-list-item__text,
.wc-block-all-reviews .wc-block-review-list-item__text,
.wc-block-reviews-by-category .wc-block-review-list-item__text {
  margin: 0 0 0 65px;
  border: 0;
  border-radius: 0;
  padding: 0; }
  .wc-block-reviews-by-product .wc-block-review-list-item__text p,
  .wc-block-all-reviews .wc-block-review-list-item__text p,
  .wc-block-reviews-by-category .wc-block-review-list-item__text p {
    margin-top: 0; }

.wc-block-reviews-by-product .wc-block-review-list-item__rating__stars,
.wc-block-all-reviews .wc-block-review-list-item__rating__stars,
.wc-block-reviews-by-category .wc-block-review-list-item__rating__stars {
  font-size: 10px;
  top: 3px; }

.wc-block-reviews-by-product .wc-block-order-select,
.wc-block-all-reviews .wc-block-order-select,
.wc-block-reviews-by-category .wc-block-order-select {
  text-align: left; }
  .wc-block-reviews-by-product .wc-block-order-select .wc-block-order-select__label,
  .wc-block-all-reviews .wc-block-order-select .wc-block-order-select__label,
  .wc-block-reviews-by-category .wc-block-order-select .wc-block-order-select__label {
    display: none; }
  .wc-block-reviews-by-product .wc-block-order-select .wc-block-order-select__select,
  .wc-block-all-reviews .wc-block-order-select .wc-block-order-select__select,
  .wc-block-reviews-by-category .wc-block-order-select .wc-block-order-select__select {
    border: 0;
    background-color: transparent;
    text-transform: uppercase;
    text-shadow: none;
    width: auto; }

.wp-block-search .wp-block-search__label {
  border: 0 !important;
  text-transform: uppercase;
  font-size: 13px !important;
  color: #444;
  height: 30px;
  outline: none;
  line-height: 1.5;
  font-weight: 700;
  margin: 0;
  width: 100%; }

.wc-block-product-search .wc-block-product-search__fields {
  position: relative; }

.wc-block-product-search .wc-block-product-search__label {
  border: 0 !important;
  font-size: 13px !important;
  height: 20px !important;
  padding: 0 !important;
  overflow: hidden !important;
  text-transform: uppercase; }

.wc-block-product-search .wc-block-product-search__button {
  border: 0;
  position: absolute;
  right: 2px;
  top: 2px; }
  .wc-block-product-search .wc-block-product-search__button:hover {
    border: 0;
    background: transparent;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.wp-block-gallery.alignleft {
  margin-right: 16px; }

.wp-block-gallery.alignright {
  margin-left: 16px; }

.wp-block-gallery .blocks-gallery-item {
  margin-bottom: 16px; }

.wp-block-gallery figcaption,
.wp-block-image figcaption {
  color: #fff; }
  .wp-block-gallery figcaption a,
  .wp-block-image figcaption a {
    color: #fff;
    text-decoration: underline; }

.wp-block-search .wp-block-search__button {
  color: #fff;
  cursor: pointer;
  background-image: none !important;
  font-size: 13px;
  font-weight: 700;
  outline: 0;
  border: none;
  border-radius: 0 !important;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  text-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  min-width: 220px;
  padding: 18px 1rem 15px !important;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 20px; }
  .wp-block-search .wp-block-search__button div {
    padding: 0; }

.gbt_18_product_carousel {
  margin: 0 -10px; }
  .gbt_18_product_carousel .gbt_18_product_carousel_wrapper ul.gbt_18_carousel_products li.gbt_18_carousel_product {
    text-align: left;
    padding: 0 10px 26px;
    margin-bottom: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%; }
    .gbt_18_product_carousel .gbt_18_product_carousel_wrapper ul.gbt_18_carousel_products li.gbt_18_carousel_product .gbt_18_carousel_product_thumbnail {
      margin-bottom: 17px; }
      .gbt_18_product_carousel .gbt_18_product_carousel_wrapper ul.gbt_18_carousel_products li.gbt_18_carousel_product .gbt_18_carousel_product_thumbnail img {
        width: 100%;
        height: auto; }
    .gbt_18_product_carousel .gbt_18_product_carousel_wrapper ul.gbt_18_carousel_products li.gbt_18_carousel_product .gbt_18_carousel_product_title {
      font-weight: 400;
      font-size: 13px;
      line-height: 1.5;
      margin-bottom: 4px; }
    .gbt_18_product_carousel .gbt_18_product_carousel_wrapper ul.gbt_18_carousel_products li.gbt_18_carousel_product .gbt_18_carousel_product_price {
      font-size: 13px;
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: 4px; }
      .gbt_18_product_carousel .gbt_18_product_carousel_wrapper ul.gbt_18_carousel_products li.gbt_18_carousel_product .gbt_18_carousel_product_price del {
        opacity: 0.5; }
      .gbt_18_product_carousel .gbt_18_product_carousel_wrapper ul.gbt_18_carousel_products li.gbt_18_carousel_product .gbt_18_carousel_product_price ins {
        background: none;
        font-weight: 700;
        text-decoration: none; }
    .gbt_18_product_carousel .gbt_18_product_carousel_wrapper ul.gbt_18_carousel_products li.gbt_18_carousel_product .gbt_18_carousel_product_button {
      font-size: 0.8125rem;
      background: none;
      padding: 0;
      margin: 6px auto 0 0;
      text-align: left;
      text-transform: uppercase; }

.editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_grid_product_thumbnail {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_grid_product_content_wrapper:hover .gbt_18_grid_product_thumbnail {
  opacity: .7; }

.editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product .gbt_18_grid_product_title {
  font-weight: bold;
  font-size: 24px !important;
  line-height: 31px;
  margin-top: 15px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product .gbt_18_grid_product_price {
  font-weight: bold; }
  .editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product .gbt_18_grid_product_price ins {
    text-decoration: none; }
  .editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product .gbt_18_grid_product_price del {
    opacity: .5; }

.gbt_18_lookbook_reveal_product_wrapper .gbt_18_editor_lookbook_product_text * {
  color: currentColor; }

.gbt_18_editor_lookbook_sts_product_content ul.gbt_18_lookbook_sts_products li.gbt_18_lookbook_sts_product {
  text-align: left;
  padding: 0 10px 26px;
  margin-bottom: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  max-width: 50%; }
  .gbt_18_editor_lookbook_sts_product_content ul.gbt_18_lookbook_sts_products li.gbt_18_lookbook_sts_product .gbt_18_lookbook_sts_product_thumbnail {
    margin-bottom: 17px; }
    .gbt_18_editor_lookbook_sts_product_content ul.gbt_18_lookbook_sts_products li.gbt_18_lookbook_sts_product .gbt_18_lookbook_sts_product_thumbnail img {
      width: 100%;
      height: auto; }
  .gbt_18_editor_lookbook_sts_product_content ul.gbt_18_lookbook_sts_products li.gbt_18_lookbook_sts_product .gbt_18_lookbook_sts_product_title {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 4px !important;
    margin-top: 0 !important; }
  .gbt_18_editor_lookbook_sts_product_content ul.gbt_18_lookbook_sts_products li.gbt_18_lookbook_sts_product .gbt_18_lookbook_sts_product_price {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 4px; }
    .gbt_18_editor_lookbook_sts_product_content ul.gbt_18_lookbook_sts_products li.gbt_18_lookbook_sts_product .gbt_18_lookbook_sts_product_price del {
      opacity: 0.5; }
    .gbt_18_editor_lookbook_sts_product_content ul.gbt_18_lookbook_sts_products li.gbt_18_lookbook_sts_product .gbt_18_lookbook_sts_product_price ins {
      background: none;
      font-weight: 700;
      text-decoration: none; }
  .gbt_18_editor_lookbook_sts_product_content ul.gbt_18_lookbook_sts_products li.gbt_18_lookbook_sts_product .gbt_18_lookbook_sts_product_button {
    font-size: 0.8125rem;
    background: none;
    padding: 0;
    margin: 6px auto 0 0;
    text-align: left;
    text-transform: uppercase;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .gbt_18_editor_lookbook_sts_product_content ul.gbt_18_lookbook_sts_products li.gbt_18_lookbook_sts_product .gbt_18_lookbook_sts_product_button:hover {
      background-color: transparent;
      opacity: .75; }

.gbt_18_editor_slide_content .gbt_18_editor_slide_content_left .gbt_18_editor_slide_content_left_inner {
  width: 65%;
  margin: auto; }
  .gbt_18_editor_slide_content .gbt_18_editor_slide_content_left .gbt_18_editor_slide_content_left_inner .gbt_18_editor_slide_title {
    text-align: left;
    margin-bottom: 16px !important;
    line-height: 1.4; }
  .gbt_18_editor_slide_content .gbt_18_editor_slide_content_left .gbt_18_editor_slide_content_left_inner .gbt_18_editor_slide_price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0 !important; }
    .gbt_18_editor_slide_content .gbt_18_editor_slide_content_left .gbt_18_editor_slide_content_left_inner .gbt_18_editor_slide_price del {
      opacity: .5; }
    .gbt_18_editor_slide_content .gbt_18_editor_slide_content_left .gbt_18_editor_slide_content_left_inner .gbt_18_editor_slide_price ins {
      text-decoration: none; }
  .gbt_18_editor_slide_content .gbt_18_editor_slide_content_left .gbt_18_editor_slide_content_left_inner .gbt_18_editor_add_to_cart {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    border: none;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    padding: 18px 4rem; }
  .gbt_18_editor_slide_content .gbt_18_editor_slide_content_left .gbt_18_editor_slide_content_left_inner .gbt_18_editor_slide_link {
    border-top: 2px solid;
    padding-top: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 10px; }
    .gbt_18_editor_slide_content .gbt_18_editor_slide_content_left .gbt_18_editor_slide_content_left_inner .gbt_18_editor_slide_link i {
      display: none; }

.wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item {
  position: relative; }
  .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_img:hover {
    opacity: 0.7; }
  .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_title {
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 33px;
    left: 30px;
    padding: 0;
    width: auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
    @media screen and (min-width: 63.9375em) {
      .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_title {
        font-size: 18px; } }
    .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_title .gbt_18_editor_category_grid_item_count {
      color: #fff;
      font-size: 13px;
      margin-left: 7px;
      line-height: 2.22; }

.editor-block-list__block[data-type="getbowtied/lookbook-reveal"] .gbt_18_lookbook_reveal_product_wrapper .gbt_18_editor_lookbook_product_content .gbt_18_editor_lookbook_product_content_left .gbt_18_editor_lookbook_product_content_left_inner_bottom .gbt_18_editor_lookbook_product_price {
  font-weight: bold !important;
  font-size: 22px !important; }

.editor-block-list__block[data-type="getbowtied/lookbook-reveal"] .gbt_18_lookbook_reveal_product_wrapper .gbt_18_editor_lookbook_product_content .gbt_18_editor_lookbook_product_content_left .gbt_18_editor_lookbook_product_content_left_inner_bottom .gbt_18_editor_lookbook_product_button {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  border-bottom: 0; }

.editor-block-list__block[data-type="getbowtied/lookbook-shop-by-outfit"] .gbt_18_hero_section_text .gbt_18_hero_section_title {
  margin-bottom: 0;
  line-height: 1; }

.editor-block-list__block[data-type="getbowtied/lookbook-shop-by-outfit"] .gbt_18_hero_section_text .gbt_18_hero_section_subtitle {
  font-size: 13px;
  font-weight: bold; }

.editor-block-list__block[data-type="getbowtied/lookbook-shop-by-outfit"] .gbt_18_editor_lookbook_sts_product_content .gbt_18_lookbook_sts_products_wrapper .gbt_18_lookbook_sts_product_title {
  font-size: 13px; }

.editor-block-list__block[data-type="getbowtied/lookbook-shop-by-outfit"] .gbt_18_editor_lookbook_sts_product_content .gbt_18_lookbook_sts_products_wrapper ul.gbt_18_lookbook_sts_products.products-1 li {
  padding: 0; }

.components-button {
  line-height: 1; }
