
					/* Webkit */
			::selection {
			background: #151823;
			}
							/* Gecko/Mozilla */
			::-moz-selection {
			background: #151823;
			}
		
		
			h1 a:hover,
			.box_image_holder .box_icon .fa-stack i.fa-stack-base,
			.q_percentage_with_icon,
			.filter_holder ul li.active span,
			.filter_holder ul li:hover span,
			.q_tabs .tabs-nav li.active a:hover,
			.q_tabs .tabs-nav li a:hover,
			.q_accordion_holder.accordion .ui-accordion-header:hover,
			.q_accordion_holder.accordion.with_icon .ui-accordion-header i,
			.testimonials .testimonial_text_inner p.testimonial_author span.author_company,
			.testimonial_content_inner .testimonial_author .company_position,
			.q_icon_with_title.center .icon_holder .font_awsome_icon i:hover,
			.q_box_holder.with_icon .box_holder_icon_inner .fa-stack i.fa-stack-base,
			.q_icon_with_title.boxed .icon_holder .fa-stack,
			.q_progress_bars_icons_inner .bar.active i.fa-circle,
			.q_list.number ul>li:before,
			.q_social_icon_holder:hover .simple_social,
			.social_share_dropdown ul li :hover i,
			.social_share_list_holder ul li i:hover,
			.blog_holder.blog_masonry_date_in_image .social_share_list_holder ul li i:hover,
			.latest_post_inner .post_infos a:hover,
			.q_masonry_blog article .q_masonry_blog_post_info a:hover,
			.blog_holder article:not(.format-quote):not(.format-link) .post_info a:hover,
			.latest_post_inner .post_comments:hover i,
			.blog_holder article .post_description a:hover,
			.blog_holder article .post_description .post_comments:hover,
			.blog_like a:hover i,
			.blog_like a.liked i,
			.latest_post .blog_like a:hover span,
			article:not(.format-quote):not(.format-link) .blog_like a:hover span,
			.comment_holder .comment .text .replay,
			.comment_holder .comment .text .comment-reply-link,
			.header-widget.widget_nav_menu ul.menu li a:hover,
			aside .widget a:hover,
			aside .widget.posts_holder li:hover,
			.wpb_widgetised_column .widget a:hover,
			.wpb_widgetised_column .widget.posts_holder li:hover,
            .elementor-widget.elementor-widget-sidebar .widget a:hover,
            .elementor-widget.elementor-widget-sidebar .widget.posts_holder li:hover,
			.q_steps_holder .circle_small:hover span,
			.q_steps_holder .circle_small:hover .step_title,
			.header_top #lang_sel > ul > li > a:hover,
			.header_top #lang_sel_click > ul > li> a:hover,
			.header_top #lang_sel_list ul li a.lang_sel_sel,
			.header_top #lang_sel_list ul li a:hover,
			aside .widget #lang_sel a.lang_sel_sel:hover,
			aside .widget #lang_sel_click a.lang_sel_sel:hover,
			aside .widget #lang_sel ul ul a:hover,
			aside .widget #lang_sel_click ul ul a:hover,
			aside .widget #lang_sel_list li a.lang_sel_sel,
			aside .widget #lang_sel_list li a:hover,
			.wpb_widgetised_column .widget #lang_sel a.lang_sel_sel:hover,
			.wpb_widgetised_column .widget #lang_sel_click a.lang_sel_sel:hover,
			.wpb_widgetised_column .widget #lang_sel ul ul a:hover,
			.wpb_widgetised_column .widget #lang_sel_click ul ul a:hover,
			.wpb_widgetised_column .widget #lang_sel_list li a.lang_sel_sel,
			.wpb_widgetised_column .widget #lang_sel_list li a:hover,
            .elementor-widget.elementor-widget-sidebar .widget #lang_sel a.lang_sel_sel:hover,
            .elementor-widget.elementor-widget-sidebar .widget #lang_sel_click a.lang_sel_sel:hover,
            .elementor-widget.elementor-widget-sidebar .widget #lang_sel ul ul a:hover,
            .elementor-widget.elementor-widget-sidebar .widget #lang_sel_click ul ul a:hover,
            .elementor-widget.elementor-widget-sidebar .widget #lang_sel_list li a.lang_sel_sel,
            .elementor-widget.elementor-widget-sidebar .widget #lang_sel_list li a:hover,
			.service_table_inner li.service_table_title_holder i,
			.latest_post_two_holder .latest_post_two_text a:hover,
						.q_team .q_team_social_holder .q_social_icon_holder:hover .simple_social,
			.portfolio_template_8 .portfolio_detail .info .category,
			.portfolio_navigation.navigation_title .post_info span.categories,
			.qode_portfolio_related .projects_holder article .portfolio_description .project_category,
			.blog_compound article .post_content .blog_like a:hover,
			.blog_compound article .post_content .blog_like a:hover span,
			.blog_compound article .post_content .blog_share a:hover,
			.blog_compound article .post_content .blog_share a:hover span,
			.blog_compound article .post_content .post_comments:hover,
			.blog_compound article .post_content .post_comments:hover span,
			.blog_holder.blog_pinterest article.format-link .post_info a:hover,
			.blog_holder.blog_pinterest article.format-quote .post_info a:hover,
			.blog_compound .post_title .category a,
			.blog_compound .post_title .category span.date,
			.q_price_table.qode_pricing_table_advanced .qode_pt_subtitle,
			.q_price_table.qode_pricing_table_advanced .qode_pt_additional_info .qode_pt_icon,
			.q_price_table.qode_pricing_table_advanced .price_table_inner .value,
			table.tt_timetable .event .event_header,
			table.tt_timetable .event a,
			.tt_tabs .tt_tabs_navigation .ui-tabs-active a,
			.tt_tabs .tt_tabs_navigation li a:hover,
			.qode-owl-slider .owl-nav .owl-next:hover .qode-next-icon,
			.qode-owl-slider .owl-nav .owl-next:hover .qode-prev-icon,
			.qode-owl-slider .owl-nav .owl-prev:hover .qode-next-icon,
			.qode-owl-slider .owl-nav .owl-prev:hover .qode-prev-icon,
			.qode-owl-slider-style .owl-nav .owl-next:hover .qode-next-icon,
			.qode-owl-slider-style .owl-nav .owl-next:hover .qode-prev-icon,
			.qode-owl-slider-style .owl-nav .owl-prev:hover .qode-next-icon,
			.qode-owl-slider-style .owl-nav .owl-prev:hover .qode-prev-icon
			{
			color: #151823 !important;
			}
			h2 a:hover,
			h3 a:hover,
			h4 a:hover,
			h5 a:hover,
			h6 a:hover,
			a:hover,
			p a:hover,
			.portfolio_share .social_share_holder a:hover,
			.breadcrumb .current,
			.breadcrumb a:hover,
			.q_icon_with_title .icon_with_title_link,
			.q_counter_holder span.counter,
			.q_font_awsome_icon i,
			.q_font_awsome_icon span,
			.q_dropcap,
			.q_counter_holder span.counter,
			nav.mobile_menu ul li a:hover,
			nav.mobile_menu ul li.active > a,
			.q_progress_bars_icons_inner.square .bar.active i,
			.q_progress_bars_icons_inner.circle .bar.active i,
			.q_progress_bars_icons_inner.normal .bar.active i,
			.q_font_awsome_icon_stack .fa-circle,
			.footer_top .q_social_icon_holder:hover .simple_social,
			.more_facts_button:hover,
			.box_holder_icon .fa-stack i,
			.blog_large_image_simple .minimalist_date,
			nav.content_menu ul li.active:hover i,
			nav.content_menu ul li:hover i,
			nav.content_menu ul li.active:hover a,
			nav.content_menu ul li:hover a,
			.vc_grid-container .vc_grid-filter.vc_grid-filter-color-grey > .vc_grid-filter-item:hover span,
			.vc_grid-container .vc_grid-filter.vc_grid-filter-color-grey > .vc_grid-filter-item.vc_active span,
			.q_font_awsome_icon i:hover,
			.q_font_awsome_icon span:hover,
			.fullscreen_search_holder .search_submit:hover,
			.title .text_above_title,
			.qode-comparative-features-table .qode-cft-link:hover,
			.qode-comparative-features-table .qode-cft-mark.qode-cft-active,
			.qode-blog-carousel-titled .qode-bct-post .qode-bct-post-date,
			.qode-showcase-icon .qode-icon-holder.qode-icon-circle .qode-icon-element,
			.qode-horizontal-timeline .qode-timeline-navigation a.qode-prev,
			.qode-horizontal-timeline .qode-timeline-navigation a.qode-next,
			.side_menu a.close_side_menu.qode-side-menu-close-svg:hover
			{

			color: #151823;
			}

			.box_image_with_border:hover,
			.qbutton:hover,
			.vc_grid-container .vc_row.vc_grid .vc_grid-item .vc_btn:hover,
			.vc_grid-container .vc_row.vc_grid .vc_pageable-load-more-btn .vc_btn:hover,
			.load_more a:hover,
			.blog_load_more_button a:hover,
			#submit_comment:hover,
			.drop_down .wide .second ul li .qbutton:hover,
			.drop_down .wide .second ul li ul li .qbutton:hover,
			.qbutton.white:hover,
			.qbutton.green,
			.portfolio_slides .hover_feature_holder_inner .qbutton:hover,
			.testimonials_holder.light .flex-direction-nav a:hover,
			.q_progress_bars_icons_inner.square .bar.active .bar_noactive,
			.q_progress_bars_icons_inner.square .bar.active .bar_active,
			.q_progress_bars_icons_inner.circle .bar.active .bar_noactive,
			.q_progress_bars_icons_inner.circle .bar.active .bar_active,
			.widget.widget_search form.form_focus,
			.q_steps_holder .circle_small_wrapper,
			.animated_icon_inner span.animated_icon_back i,
			body:not(.search-results) .blog_holder article.format-link .post_text:hover .post_text_inner,
			body:not(.search-results) .blog_holder article.format-quote .post_text:hover .post_text_inner,
						input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
			.portfolio_main_holder .item_holder.image_subtle_rotate_zoom_hover .icons_holder a:hover,
			.tabs_box_navigation.sf-timetable-menu .tabs_box_navigation_selected{
			border-color: #151823			}

			.tt_tabs .tt_tabs_navigation .ui-tabs-active a,
			.tt_tabs .tt_tabs_navigation li a:hover,
			.tt_tabs .tt_tabs_navigation li a{
			border-color: #151823 !important;
			}

			.q_icon_list i,
			.q_progress_bar .progress_content,
			.q_progress_bars_vertical .progress_content_outer .progress_content,
			.qbutton:hover,
			.vc_grid-container .vc_row.vc_grid .vc_grid-item .vc_btn:hover,
			.vc_grid-container .vc_row.vc_grid .vc_pageable-load-more-btn .vc_btn:hover,
			.post-password-form input[type='submit']:hover,
			.load_more a:hover,
			.blog_load_more_button a:hover,
			#submit_comment:hover,
			.drop_down .wide .second ul li .qbutton:hover,
			.drop_down .wide .second ul li ul li .qbutton:hover,
			.qbutton.white:hover,
			.qbutton.green,
			.call_to_action,
			.highlight,
			.testimonials_holder.light .flex-direction-nav a:hover,
			.q_dropcap.circle,
			.q_dropcap.square,
			.q_message,
			.q_price_table.active .active_text,
			.q_icon_with_title.boxed .icon_holder .fa-stack,
			.q_font_awsome_icon_square,
			.q_icon_with_title.square .icon_holder .fa-stack:hover,
			.box_holder_icon_inner.square .fa-stack:hover,
			.box_holder_icon_inner.circle .fa-stack:hover,
			.circle .icon_holder .fa-stack:hover,
			.q_list.number.circle_number ul>li:before,
			.q_social_icon_holder.circle_social .fa-stack:hover,
			.social_share_dropdown ul li.share_title,
			.latest_post_holder .latest_post_date .post_publish_day,
			.q_masonry_blog article.format-link:hover,
			.q_masonry_blog article.format-quote:hover,
			#wp-calendar td#today,
			.vc_text_separator.full div,
			.mejs-controls .mejs-time-rail .mejs-time-current,
			.mejs-controls .mejs-time-rail .mejs-time-handle,
			.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
			.wp-audio-shortcode .mejs-controls .mejs-time-rail .mejs-time-current,
			.wp-audio-shortcode .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
			.q_pie_graf_legend ul li .color_holder,
			.q_line_graf_legend ul li .color_holder,
			.q_team .q_team_text_inner .separator,
			.circle_item .circle:hover,
			.qode_call_to_action.container,
			.qode_carousels .flex-control-paging li a.flex-active,
			.animated_icon_inner span.animated_icon_back i,
						.q_circles_holder .q_circle_inner2:hover,
			input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
			.portfolio_main_holder .item_holder.subtle_vertical_hover .icons_holder a,
			.portfolio_main_holder .item_holder.image_subtle_rotate_zoom_hover .icons_holder a:hover,
			.portfolio_main_holder .item_holder.image_text_zoom_hover .icons_holder a,
			.portfolio_main_holder .item_holder.slow_zoom .icons_holder a,
			.qode_video_box .qode_video_image:hover .qode_video_box_button,
			.blog_holder.masonry_gallery article.format-link:hover,
			.blog_holder.masonry_gallery article.format-quote:hover,
			.blog_holder.blog_chequered article.format-link:hover,
			.blog_holder.blog_chequered article.format-quote:hover,
			.qode-pricing-calculator .qode-pricing-calculator-switch input:checked+.qode-pricing-calculator-slider,
			.qode-icon-holder.qode-icon-circle,
			.qode-icon-holder.qode-icon-square,
			.qode-qbutton-main-color,
			.qode-advanced-tabs .qode-advanced-tabs-nav li,
			.qode-accordion-holder .qode-title-holder.ui-state-active,
			.qode-accordion-holder .qode-title-holder.ui-state-hover,
			header.menu_bottom .header_bottom_right_widget_holder .header_bottom_widget.widget_search form>div input[type=text],
			.qode-advanced-call-to-action.qode-advanced-cta-gradient-animation .qode-advanced-cta-background-3,
			.tt_tabs .tt_tabs_navigation li a,
			.tabs_box_navigation.sf-timetable-menu .tabs_box_navigation_selected,
			.tabs_box_navigation.sf-timetable-menu li ul li a:hover,
			.tabs_box_navigation.sf-timetable-menu li ul li.selected a:hover,
			#qode-multi-device-showcase.qode-mds-appear-effect #qode-mds-spinner .qode-mds-pulse,
			.qode-horizontal-timeline .qode-events-wrapper .qode-events .qode-filling-line,
			.qode-horizontal-timeline .qode-events-wrapper .qode-events a .circle-outer,
			.no-touch .qode-horizontal-timeline .qode-events-wrapper .qode-events a:hover .circle-outer,
			.qode-horizontal-timeline .qode-events-wrapper .qode-events a.selected .circle-outer
			{
			background-color: #151823;
			}


			.qode-showcase-item-holder.qode-showcase-active .qode-icon-holder.qode-icon-circle{
			background-color: #151823 !important;
			}

			.q_circles_holder .q_circle_inner2:hover,
			body:not(.search-results) .blog_holder article.format-link .post_text:hover .post_text_inner,
			body:not(.search-results) .blog_holder article.format-quote .post_text:hover .post_text_inner {
			background-color: #151823 !important;
			border-color: #151823 !important;
			}

			.qode-lazy-preloader svg circle,
			#qode-multi-device-showcase.qode-mds-appear-effect #qode-mds-spinner svg circle {
			stroke: #151823			}
		
		
			h1,h2,h3,h4,h5,h6,
			.h1,.h2,.h3,.h4,.h5,.h6,
			h1 a,
			h2 a,
			h3 a,
			h4 a,
			h5 a,
			h6 a
			a,
			p a,
			nav.main_menu>ul>li.active > a,
			.drop_down .wide .second ul li ul li.menu-item-has-children > a,
			.drop_down .wide .second ul li ul li.menu-item-has-children > a:hover,
			.title h1,
			.q_icon_list p,
			.q_progress_bars_vertical .progress_number,
			.qbutton,
			.vc_grid-container .vc_row.vc_grid .vc_grid-item .vc_btn,
			.vc_grid-container .vc_row.vc_grid .vc_pageable-load-more-btn .vc_btn:hover,
			.post-password-form input[type='submit'],
			.load_more a,
			.blog_load_more_button a,
			#submit_comment,
			.drop_down .wide .second ul li .qbutton,
			.drop_down .wide .second ul li ul li .qbutton,
			.q_percentage,
			.portfolio_navigation .portfolio_prev a:hover,
			.portfolio_navigation .portfolio_next a:hover,
			.q_tabs .tabs-nav li.active a,
			.q_accordion_holder.accordion .ui-accordion-header,
			.q_accordion_holder.accordion.with_icon .ui-accordion-header,
			.testimonials .testimonial_text_inner p.testimonial_author,
			.testimonial_content_inner .testimonial_author .website,
			.q_icon_with_title .icon_with_title_link:hover,
			.ordered ol li,
			.q_list.circle ul>li,
			.q_list.number ul>li,
			.latest_post_holder .latest_post_date .post_publish_month,
			.latest_post_inner .post_infos a,
			.latest_post_holder.dividers .latest_post_date .latest_post_day,
			.q_masonry_blog article.format-quote .q_masonry_blog_post_text p,
			.q_masonry_blog article.format-link .q_masonry_blog_post_text p,
			.q_masonry_blog article .q_masonry_blog_post_info,
			.blog_holder article.format-quote .post_text .post_title p,
			.blog_holder article.format-link .post_text .post_title p,
			.single_links_pages span,
			.single_links_pages a:hover span,
			.comment_holder .comment .text .name,
			.blog_holder.masonry article .post_info,
			.pagination ul li span,
			.pagination ul li a:hover,
			.q_team .q_team_description_inner p,
			.carousel-inner .item.dark .slider_content .text .qbutton,
			.carousel-control,
			.more_facts_button,

						.carousel-control:hover,
			input.wpcf7-form-control.wpcf7-submit:not([disabled]),
			.qode-pricing-calculator .qode-pricing-calculator-total-price-holder,
			.qode-advanced-tabs.qode-advanced-horizontal-tab .qode-advanced-tabs-nav li.ui-state-active a,
			.qode-advanced-tabs.qode-advanced-horizontal-tab .qode-advanced-tabs-nav li.ui-state-hover a
			{
			color: #000000;
			}

			.qbutton,
			.vc_grid-container .vc_row.vc_grid .vc_grid-item .vc_btn,
			.vc_grid-container .vc_row.vc_grid .vc_pageable-load-more-btn .vc_btn:hover,
			.post-password-form input[type='submit'],
			.load_more a,
			.blog_load_more_button a,
			#submit_comment,
			.drop_down .wide .second ul li .qbutton,
			.drop_down .wide .second ul li ul li .qbutton,
			.testimonials_holder .flex-direction-nav a,
			.header_top #lang_sel ul li ul li a,
			.header_top #lang_sel ul li ul li a:visited,
			.header_top #lang_sel_click ul li ul li a,
			.header_top #lang_sel_click ul li ul li a:visited,

						.carousel-inner .item.dark .slider_content .text .qbutton,
			input.wpcf7-form-control.wpcf7-submit:not([disabled]) {
			border-color: #000000;
			}

			.ajax_loader .pulse,
			.ajax_loader .double_pulse .double-bounce1, .ajax_loader .double_pulse .double-bounce2,
			.ajax_loader .cube,
			.ajax_loader .rotating_cubes .cube1, .ajax_loader .rotating_cubes .cube2,
			.ajax_loader .stripes > div,
			.ajax_loader .wave > div,
			.ajax_loader .two_rotating_circles .dot1, .ajax_loader .two_rotating_circles .dot2,
			.ajax_loader .five_rotating_circles .container1 > div, .ajax_loader .five_rotating_circles .container2 > div, .ajax_loader .five_rotating_circles .container3 > div,
			.separator.small,
			.testimonials_holder .flex-direction-nav a:hover,
			.q_price_table .price_table_inner,
			.carousel-inner .item.dark .slider_content .text .qbutton:hover,
			.vertical_menu_hidden_button_line,
			.vertical_menu_hidden_button_line:after,.vertical_menu_hidden_button_line:before,
			.blog_vertical_loop_button .button_icon a,
			.blog_vertical_loop_back_button .button_icon a

			 {
			background-color: #000000;
			}


		
								
					body{
											font-family: 'Karla', sans-serif;
						 color: #000000; 			 font-size: 15px; 			font-weight: 400;			}
											
					.transparent_content,
			.transparent_content.overlapping_content .content .content_inner > .container,
			.transparent_content.overlapping_content .content .content_inner > .full_width > .full_width_inner{
							background-color: #f3f3f3;
			
			
			
			}

		
		
					.header_bottom,
			.header_top,
			.fixed_top_header .bottom_header{
			background-color: rgba(243,243,243,1);
			}

			
		
															@media only screen and (min-width: 1000px) {
			.content .container .container_inner.default_template_holder,
			.content .container .container_inner.page_container_inner
			{
			padding-top:132px;
			}
			}
						
		


		
		
			.header_top,
			.fixed_top_header .top_header,
			.fixed_top_header nav.mobile_menu{
			background-color: rgba(255,255,255,1);
			}
				
									header:not(.sticky):not(.scrolled) .header_bottom .container_inner,
					header.fixed_top_header .bottom_header .container_inner{
					border-bottom: 1px solid rgba(13,15,21,1);
					}
									
		
		
		

														.content{
					margin-top: -118px;
					}
				
					
					.logo_wrapper,
			.side_menu_button,
			.shopping_cart_inner
			{
			height: 117px;
			}
			.content.content_top_margin{
			margin-top: 117px !important;
			}

			header:not(.centered_logo) .header_fixed_right_area {
			line-height: 117px;
			}

								
		
		
		
						header.fixed_hiding .q_logo a,
				header.fixed_hiding .q_logo{
				max-height: 52px;
				}
				
		
		
		
							nav.main_menu > ul > li > a{
			line-height: 117px;
			}
		
		
		
					nav.main_menu > ul > li > a{
			 color: #151823; 							font-family: 'Karla', sans-serif;
						 font-size: 12px; 						 font-style: normal; 			 font-weight: 400; 			 letter-spacing: 6px; 						}

		
					header:not(.with_hover_bg_color) nav.main_menu > ul > li > a span:not(.plus){
			position: relative;
			padding: 14px 18px;
			border: 2px solid transparent;
			}

			header:not(.with_hover_bg_color) nav.main_menu > ul > li:hover > a span:not(.plus),
			header:not(.with_hover_bg_color) nav.main_menu > ul > li.active > a span:not(.plus){
			border-color: currentColor;
			border-radius: 2px;
			}

					nav.main_menu > ul > li:not(:first-child):before {
			color: #151823;
			}
					nav.main_menu > ul > li > a{
			padding: 0 5px;
			}
			header.transparent .drop_down .second:not(.right){
			left: 4px;
			}
		
					nav.main_menu ul li:hover a {
			 color: #151823; 			}
		
					nav.main_menu ul li.active a {
			color: #151823			}
			
		

		

																		

						
		
		
		
					nav.mobile_menu ul li a,
			nav.mobile_menu ul li h3{
			 color: #151823; 							font-family: 'Karla', sans-serif;
						 font-size: 12px; 			 line-height: 19px; 			 font-style: normal; 			 font-weight: 400; 							letter-spacing: 6px;
										text-transform: uppercase;
						}

		
					nav.mobile_menu ul li span.mobile_arrow i, nav.mobile_menu ul li span.mobile_arrow i {
			color: #151823;
			}
		
					nav.mobile_menu ul li a:hover,
			nav.mobile_menu ul li.active > a,
			nav.mobile_menu ul li.current-menu-item > a{
			color: #151823;
			}
							nav.mobile_menu ul li,
			nav.mobile_menu ul li,
			nav.mobile_menu ul li ul li,
			nav.mobile_menu ul li.open_sub > ul{
			border-color: #f3f3f3;
			}
		
					@media only screen and (max-width: 1000px){
			.header_bottom,
			nav.mobile_menu,
			header.fixed_top_header .top_header{
			background-color: #f3f3f3 !important;
			}
			}
							@media only screen and (max-width: 1000px){
			.header_top{
			background-color: #f3f3f3 !important;
			}
			}
				
		
		
		
					h1,
			.h1,
			.title h1,
            body.qode-overridden-elementors-fonts .elementor-widget-heading h1.elementor-heading-title{
				color: #151823; 							font-family: 'Prata', sans-serif;
						font-size: 35px; 			line-height: 45px; 			font-style: normal; 			font-weight: 400; 			letter-spacing: 3.5px; 			text-transform: uppercase; 			}
				
		
											h2,
			.h2,
			h2 a,
            body.qode-overridden-elementors-fonts .elementor-widget-heading h2.elementor-heading-title {
			color: #151823; 							font-family: 'Prata', sans-serif;
						font-size: 25px; 			line-height: 35px; 			font-style: normal; 			font-weight: 400; 			letter-spacing: 2.5px; 			text-transform: uppercase; 			}
							h3,
			.h3,
			h3 a,
            body.qode-overridden-elementors-fonts .elementor-widget-heading h3.elementor-heading-title {
			color: #151823; 							font-family: 'Prata', sans-serif;
						font-size: 18px; 			line-height: 28px; 			font-style: normal; 			font-weight: 400; 			letter-spacing: 1.8px; 			text-transform: uppercase; 			}
							h4,
			.h4,
			h4 a,
            body.qode-overridden-elementors-fonts .elementor-widget-heading h4.elementor-heading-title {
			color: #151823; 							font-family: 'Karla', sans-serif;
						font-size: 14px; 			line-height: 24px; 			font-style: normal; 			font-weight: 400; 			letter-spacing: 0px; 			text-transform: uppercase; 			}
							h5,
			.h5,
			h5 a,
            body.qode-overridden-elementors-fonts .elementor-widget-heading h5.elementor-heading-title,
			.q_icon_with_title .icon_text_holder h5.icon_title{
			color: #151823; 							font-family: 'Karla', sans-serif;
						font-size: 12px; 			line-height: 23px; 			font-style: normal; 			font-weight: 400; 			letter-spacing: 2.4px; 			text-transform: uppercase; 			}
							h6,
			.h6,
			h6 a,
            body.qode-overridden-elementors-fonts .elementor-widget-heading h6.elementor-heading-title {
			color: #000000; 							font-family: 'Karla', sans-serif;
						font-size: 11px; 			line-height: 20px; 			font-style: normal;  			font-weight: 400; 			letter-spacing: 2.2px; 			text-transform: uppercase; 			}

		

					p,
            body.qode-overridden-elementors-fonts .elementor-widget-heading p.elementor-heading-title {
			color: #000000;							font-family: 'Karla', sans-serif;
						font-size: 15px;			line-height: 25px;			font-style: normal;			font-weight: 400;									}
			.filter_holder ul li span,
			blockquote h5,
			.q_social_icon_holder .simple_social,
			.header-widget.widget_nav_menu ul.menu li a,
			.side_menu a,
			.side_menu li,
			.side_menu span,
			.side_menu p,
			.side_menu .widget.widget_rss li a.rsswidget,
			.side_menu #wp-calendar caption,
			.side_menu #wp-calendar th,
			.side_menu #wp-calendar td,
			aside .widget #lang_sel_list li a,
			aside .widget #lang_sel li a,
			aside .widget #lang_sel_click li a,
			.wpb_widgetised_column .widget #lang_sel_list li a,
			.wpb_widgetised_column .widget #lang_sel li a,
			.wpb_widgetised_column .widget #lang_sel_click li a,
            .elementor-widget.elementor-widget-sidebar .widget #lang_sel_list li a,
            .elementor-widget.elementor-widget-sidebar .widget #lang_sel li a,
            .elementor-widget.elementor-widget-sidebar .widget #lang_sel_click li a,
			section.side_menu #lang_sel_list li a,
			section.side_menu #lang_sel li a,
			section.side_menu #lang_sel_click li a,
			footer #lang_sel_list li a,
			footer #lang_sel li a,
			footer #lang_sel_click li a,
			footer #lang_sel_list.lang_sel_list_horizontal a,
			footer #lang_sel_list.lang_sel_list_vertical a,
			.side_menu #lang_sel_list.lang_sel_list_horizontal a,
			.side_menu #lang_sel_list.lang_sel_list_vertical a,
			#lang_sel_footer a{
			color: #000000;			}
			.header_top #lang_sel > ul > li > a,
			.header_top #lang_sel_click > ul > li> a,
			footer #lang_sel ul li a,
			footer #lang_sel ul ul a,
			footer #lang_sel_click ul li a,
			footer #lang_sel_click ul ul a,
			footer #lang_sel_click ul ul a span,
			section.side_menu #lang_sel ul li a,
			section.side_menu #lang_sel ul ul a,
			section.side_menu #lang_sel ul ul a:visited,
			section.side_menu #lang_sel_click > ul > li > a,
			section.side_menu #lang_sel_click ul ul a,
			section.side_menu #lang_sel_click ul ul a:visited{
			color: #000000 !important;			}
										a, p a{
			color: #000000;			font-style: normal;			font-weight: 400;			text-decoration: none;			}

							h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,
				.q_icon_with_title .icon_with_title_link,
				.blog_holder article .post_description a:hover,
				.blog_holder.masonry article .post_info a:hover,
				.breadcrumb .current,
				.breadcrumb a:hover,
				.portfolio_social_holder a:hover,
				.latest_post_inner .post_infos a:hover{
				color: #000000;
				}
										a:hover,p a:hover,
			h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,
			.q_tabs .tabs-nav li a:hover,
			.q_icon_with_title .icon_with_title_link:hover,
			.blog_holder article .post_description a:hover,
			.blog_holder.masonry article .post_info a:hover,
			.portfolio_social_holder a:hover,
			.latest_post_inner .post_infos a:hover{
			color: #000000;			text-decoration: none;			}
		

		
				
				
		
		

		
		
		
										
		
		
		
						.google_map{
				height: 750px;
				}
				
		
					.footer_top_holder,	footer #lang_sel > ul > li > a,	footer #lang_sel_click > ul > li > a{
			background-color: #000000;
			}
			footer #lang_sel ul ul a,footer #lang_sel_click ul ul a,footer #lang_sel ul ul a:visited,footer #lang_sel_click ul ul a:visited{
			background-color: #000000 !important;
			}
		
					.footer_top,
			.footer_top.footer_top_full{
			padding-top: 46px;padding-bottom: 36px			}
		
							.footer_top,
			.footer_top p,
			.footer_top span,
			.footer_top li,
			.footer_top .textwidget,
			.footer_top .widget_recent_entries>ul>li>span {
			color: #f3f3f3;
			}
							.footer_top a:not(.qbutton)
			{
			color: #f3f3f3 !important;
			}

			.footer_top .q_social_icon_holder .simple_social {
			color: #f3f3f3;
			}
							.footer_top a:not(.qbutton):hover
			{
			color: #f3f3f3 !important;
			}

			.footer_top .q_social_icon_holder:hover .simple_social {
			color: #f3f3f3;
			}
		
		
		
		
		

		
					.footer_top h5 {
			color: #f3f3f3			}
		
					.footer_top,
			.footer_top p,
			.footer_top span:not(.q_social_icon_holder):not(.fa-stack):not(.qode_icon_shortcode):not(.qode_icon_font_elegant):not(.qode-icon-kiko),
			.footer_top li,
			.footer_top .textwidget,
			.footer_top .widget_recent_entries>ul>li>span{
			font-family: "Karla", sans-serif;font-size: 12px;letter-spacing: 2.4px;line-height: 24px;font-weight: 400;text-transform: uppercase;font-style: normal			}
		
		
					.footer_top,
			.footer_top .footer_col1,
			.footer_top .container_inner > .widget,
			.footer_top.footer_top_full > .widget{
			text-align: left;
			}
					.footer_top .footer_col2{
			text-align: right;
			}
		
		
		
		
		
		
		

		

		
		

												
										
								
								
										
										
								
								
		
														
								
								
								
				
						
						
		/*Blog Masonry Gallery - end */

								
						
						
								
												
								

		
						
				
		

		
				

					.blog_holder.masonry.blog_masonry_date_in_image article .mejs-container,
			.blog_holder.masonry_full_width.blog_masonry_date_in_image article .mejs-container,
			.blog_holder.masonry.blog_masonry_date_in_image article .post_text .post_text_inner,
			.blog_holder.masonry_full_width.blog_masonry_date_in_image article .post_text .post_text_inner
			{
			background-color: #ffffff00;
			}
									.blog_holder.masonry.blog_masonry_date_in_image h5,
			.blog_holder.masonry_full_width.blog_masonry_date_in_image h5,
			.blog_holder.masonry.blog_masonry_date_in_image h5 a,
			.blog_holder.masonry_full_width.blog_masonry_date_in_image h5 a
			{
			font-family: Prata;font-size: 18px;line-height: 28px;font-style: normal;font-weight: 400;letter-spacing: 1.8px;text-transform: uppercase;			}
							.blog_holder.masonry.blog_masonry_date_in_image h5 a,
			.blog_holder.masonry_full_width.blog_masonry_date_in_image h5 a
			{
			color:#151823;
			}
							.blog_holder.masonry.blog_masonry_date_in_image h5 a:hover,
			.blog_holder.masonry_full_width.blog_masonry_date_in_image h5 a:hover
			{
			color:#151823;
			}
		
		

												
				
				
		
								
								
								
		
																																																				
					.blog_holder.blog_single article .post_text .post_text_inner{
			padding-top: 45px;
			}
					.blog_holder.blog_single article .post_info{
			margin-bottom: 20px;
			}
							.side_menu_button > a,
			.mobile_menu_button span,
			.fixed_top_header .side_menu_button > a,
			.fixed_top_header .popup_menu .line,
			.fixed_top_header .mobile_menu_button span{ color: #0d0f15; }

			.popup_menu .line,
			.popup_menu .line:after, .popup_menu .line:before{
			background-color: #0d0f15;
			}
					.side_menu_button > a:hover,
			.mobile_menu_button span:hover,
			.popup_menu:hover .line,
			.popup_menu:hover .line:after,
			.popup_menu:hover .line:before{ color: #0d0f15; }

			.popup_menu:hover .line,
			.popup_menu:hover .line:after, .popup_menu:hover .line:before{
			background-color: #0d0f15;
			}
		
		
		.vertical_menu_float .menu-item .second{
		left: calc(100% + 30px); /*because of the padding*/
		}

		.vertical_menu_hidden aside.vertical_menu_area .vertical_menu_float .menu-item .second {
		left: calc(100% + 40px);
		}


		
		
		
		


							.vertical_menu_area{
			text-align:left;
			}
			
		
		
		
		
		

		
		
		
		
		
		
		
		
		
		
		
		
																														
							.cf7_custom_style_1  input.wpcf7-form-control.wpcf7-submit,
				.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit:not([disabled]) {
				border-color: rgba(21,24,35,1);border-width: 1px;border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;color: #151823;font-family: Karla;font-size: 12px;font-style: normal;font-weight: 400;letter-spacing: 6px;text-transform: uppercase;height: 50px;line-height: 50px;padding: 0 37px;				}
			
							.cf7_custom_style_1  input.wpcf7-form-control.wpcf7-submit:hover,
				.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover {
				color: #ffffff;background-color: #151823;border-color: rgba(21,24,35,1);				}
			
							.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text,
				.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number,
				.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date,
				.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea,
				.cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select,
				.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz{
				background-color: rgba(255,255,255,0);border-color: rgba(0,0,0,1);border-width: 1px;border-style:solid;border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;border-top: none; border-left: none; border-right: none;color: #000000;font-family: Karla;font-size: 11px;font-style: normal;font-weight: 400;letter-spacing: 2.2px;text-transform: uppercase;padding-top: 16px;padding-right: 0px;padding-bottom: 14px;padding-left: 0px;margin-top: 0px;margin-bottom: 20px;				}
			
							.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text:focus,
				.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number:focus,
				.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date:focus,
				.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea:focus,
				.cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select:focus,
				.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz:focus{
				color: #000000;background-color: rgba(255,255,255,0);border-color: rgba(10,10,10,1);				}
			
			
			
			
			
			
			
			
			
							.cf7_custom_style_1 ::-webkit-input-placeholder{
				color: #000000;opacity:1;				}
										.cf7_custom_style_1 :-moz-placeholder{
				color: #000000;opacity:1;				}
										.cf7_custom_style_1 ::-moz-placeholder{
				color: #000000;opacity:1;				}
										.cf7_custom_style_1 :-ms-input-placeholde{
				color: #000000;opacity:1;				}
																																		.cf7_custom_style_1 input:focus::-webkit-input-placeholder,
				.cf7_custom_style_1 textarea:focus::-webkit-input-placeholder{
				color: #000000;				}
										.cf7_custom_style_1 input:focus:-moz-placeholder,
				.cf7_custom_style_1 textarea:focus:-moz-placeholder{
				color: #000000;				}
										.cf7_custom_style_1 input:focus::-moz-placeholder,
				.cf7_custom_style_1 textarea:focus::-moz-placeholder{
				color: #000000;				}
										.cf7_custom_style_1 input:focus:-ms-input-placeholder,
				.cf7_custom_style_1 textarea:focus:-ms-input-placeholder{
				color: #000000;				}
																																	.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea{
			height: 50px;
			}
				
		
		
							.qode_search_form_2 input[type="text"],
			.qode_search_form_2 input[type="text"]:focus,
			.qode_search_form_3 input[type="text"],
			.qode_search_form_3 input[type="text"]:focus,
			.fullscreen_search_holder .search_field,
			.fullscreen_search_holder .search_field:focus,
			.qode_search_form input,
			.qode_search_form input:focus{
			color: #dd3333			}
		
		
		
		
				
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
				
		
		
		
		
		
					.carousel-inner .slider_content .text .qbutton:not(.white){
			border-width: px !important;			}
					.carousel-inner .slider_content .text .qbutton.white{
			border-width: px !important;			}
		
		
		


		
		
				
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
					#back_to_top span i,
			#back_to_top span span{
			color: #1b1b1b;
			}
					#back_to_top:hover span i,
			#back_to_top:hover span span{
			color: #1b1b1b;
			}
		
					#back_to_top > span{
			background-color: rgba(255,255,255,0);border-color: rgba(27,27,27,1);border-width:1px;border-style: solid			}
					#back_to_top:hover > span{
			background-color: rgba(255,255,255,0);border-color: rgba(27,27,27,1)			}
		
		
		
		
		
		
		
		

		
		
		
		
		
		
		
		
		

		
		
		
		
					.pagination ul li a{
			border-color: #adadad;color: #0e0e1e			}
					.pagination ul li a:hover, .pagination ul li span{
			color: #0e0e1e			}
					.pagination ul li a, .pagination ul li span{
			width: 30px;height: 30px;line-height: 30px;border-width: 1px;border-radius: 0px;font-size: 11px;margin-right: 8px			}
		

		
		

		
		
		
								
		
		
							aside .widget h5:not(.latest_post_title),
			.wpb_widgetised_column .widget h5:not(.latest_post_title),
            .elementor-widget.elementor-widget-sidebar .widget h5:not(.latest_post_title),
            .elementor-widget.elementor-widget-sidebar .widget h5:not(.qode-post-title),
			aside .widget .wp-block-heading {
			font-family: Karla;font-size: 12px;line-height: 24px;font-style: normal;font-weight: 400;letter-spacing: 6px;text-transform: uppercase;color: #ffffff;			}
		
							aside.sidebar .widget.widget_text,
			aside.sidebar .widget p,
			aside.sidebar .widget div:not(.star-rating) span:not(.qode_icon_element),
			aside.sidebar .widget li,
			.wpb_widgetised_column .widget.widget_text,
			.wpb_widgetised_column .widget p,
			.wpb_widgetised_column .widget div:not(.star-rating) span:not(.qode_icon_element),
			.wpb_widgetised_column .widget li,
            .elementor-widget.elementor-widget-sidebar .widget.widget_text,
            .elementor-widget.elementor-widget-sidebar .widget p,
            .elementor-widget.elementor-widget-sidebar .widget div:not(.star-rating) span:not(.qode_icon_element),
            .elementor-widget.elementor-widget-sidebar .widget li{
			font-family: Karla;font-size: 11px;line-height: 21px;font-style: normal;font-weight: 400;letter-spacing: 2.2px;text-transform: uppercase;color: #000000;			}
		
							aside.sidebar .widget:not(.qode_latest_posts_widget) a,
			.wpb_widgetised_column .widget:not(.qode_latest_posts_widget) a,
            .elementor-widget.elementor-widget-sidebar .widget:not(.qode_latest_posts_widget) a{
			font-family: Karla;font-size: 11px;line-height: 21px;font-style: normal;font-weight: 400;letter-spacing: 2.2px;text-transform: uppercase;color: #000000;			}
					aside.sidebar .widget:not(.qode_latest_posts_widget) a:hover,
			.wpb_widgetised_column .widget:not(.qode_latest_posts_widget) a:hover,
            .elementor-widget.elementor-widget-sidebar .widget:not(.qode_latest_posts_widget) a:hover{
			color: #000000 !important;
			}
		
				
										

					.qbutton,
			.qbutton.medium,
			#submit_comment,
			.load_more a,
			.blog_load_more_button a,
			.post-password-form input[type='submit'],
			input.wpcf7-form-control.wpcf7-submit,
			input.wpcf7-form-control.wpcf7-submit:not([disabled]),
			.woocommerce table.cart td.actions input[type="submit"],
			.woocommerce input#place_order,
			.woocommerce-page input[type="submit"],
			.woocommerce .button,
		    div.wc-block-components-notice-banner>.wc-block-components-notice-banner__content .button
			{
				color: #151823; 							font-family: 'Karla', sans-serif;
			
				border-color: #151823; 
				font-size: 12px; 				line-height: 50px; 				height: 50px; 				font-style: normal; 				font-weight: 400; 							border-radius: 0px; 				-moz-border-radius: 0px; 				-webkit-border-radius: 0px; 				letter-spacing: 6px; 				text-transform: uppercase; 			 border-width: 1px;				padding-left: 37px; padding-right: 37px; 			}

		    div.wc-block-components-notice-banner>.wc-block-components-notice-banner__content .button {
		    	color: #151823 !important; 		    		    	padding-left: 37px !important; padding-right: 37px !important; 		    }

			.qode-qbutton-main-color {
							font-family: 'Karla', sans-serif;
							font-size: 12px; 				line-height: 50px; 				height: 50px; 				font-style: normal; 				font-weight: 400; 				letter-spacing: 6px; 				text-transform: uppercase; 			}

		
					.qbutton:hover,
			.qbutton.medium:hover,
			#submit_comment:hover,
			.load_more a:hover,
			.blog_load_more_button a:hover,
			.post-password-form input[type='submit']:hover,
			input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
			.woocommerce table.cart td.actions input[type="submit"]:hover,
			.woocommerce input#place_order:hover,
			.woocommerce-page input[type="submit"]:hover,
			.woocommerce .button:hover,
		    div.wc-block-components-notice-banner>.wc-block-components-notice-banner__content .button:hover
			{
			 color: #ffffff; 
			 border-color: #151823			}
		
					.qbutton:hover,
			#submit_comment:hover,
			.load_more a:hover,
			.blog_load_more_button a:hover,
			.post-password-form input[type='submit']:hover,
			input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
			.woocommerce table.cart td.actions input[type="submit"]:hover,
			.woocommerce input#place_order:hover,
			.woocommerce-page input[type="submit"]:hover,
			.woocommerce .button:hover
			{
			 background-color: #151823; 			}
		
	    div.wc-block-components-notice-banner>.wc-block-components-notice-banner__content .button:hover {
	    	color: #ffffff !important; 	    	background-color: #151823 !important; 	   }

					.qbutton.small{

				font-size: 12px; 				line-height: 50px; 				height: 50px; 				font-weight: 400; 				padding-left: 37px; 				padding-right: 37px; 				border-radius: 0px; 				-moz-border-radius: 0px; 				-webkit-border-radius: 0px; 
			}
														

						
		

		
				    .masonry_gallery_item.square_big .masonry_gallery_item_inner .masonry_gallery_item_content{
			text-align: center;		    }
		
		
				    .masonry_gallery_item.square_small .masonry_gallery_item_inner .masonry_gallery_item_content{
			text-align: center;		    }
		
		
				    .masonry_gallery_item.rectangle_portrait .masonry_gallery_item_inner .masonry_gallery_item_content{
			text-align: center;		    }
		
		
				    .masonry_gallery_item.rectangle_landscape .masonry_gallery_item_inner .masonry_gallery_item_content{
			text-align: center;		    }
		

	
						
		
		

				
.qode-accordion-holder .qode-title-holder { text-transform: none;font-style: normal;}

.qode-btn { text-transform: none;font-style: normal;}

.qode-interactive-project-list .qode-ipl-inner .qode-ipl-left article .qode-ipl-item-inner .qode-ipl-item-text .qode-ipl-title, .qode-interactive-project-list .qode-ipl-inner .qode-ipl-left article .qode-ipl-item-inner .qode-ipl-item-text .qode-ipl-title-aux { color: #151823;-webkit-text-stroke-color: #151823;}

.qode-interactive-project-list .qode-ipl-inner .qode-ipl-left article .qode-ipl-item-inner .qode-ipl-item-text .qode-ipl-category-holder a { color: #151823;}

.qode-interactive-project-list .qode-ipl-inner .qode-ipl-left article .qode-ipl-item-inner .qode-ipl-item-text .qode-ipl-item-number-holder span { color: #151823;border-color: rgba(21, 24, 35, .2);}

.latest_post_holder.image_on_the_left_boxed .date_hour_holder, .latest_post_holder.image_on_the_left_boxed .featured .read_more:before { background-color: #151823;}

.qode-portfolio-carousel .qode-pc-custom-cursor { color: #151823;border-color: #151823;}

#qode-portfolio-list-stacked .qode-pls-end-of-scroll .qode-eos-title * { color: #151823;-webkit-text-stroke-color: #151823;}

#qode-pls-info .qode-pls-title-holder .qode-pls-title a { color: #151823;}

#qode-portfolio-list-stacked .qode-pls-scroll-note .qode-pls-down svg path { fill: #151823;}



