<?php
/*
 +=====================================================================+
 | NinjaFirewall optional configuration file                           |
 |                                                                     |
 | See: https://nintechnet.com/ninjafirewall/wp-edition/help/?htninja  |
 |                                                                     |
 +=====================================================================+
*/

// To tell NinjaFirewall where you moved your WP config file,
// use the '$wp_config' variable :
// ** NOTE: Deprecated since NinjaFirewall 3.0.1 **
// $wp_config = '/foo/bar/wp-config.php';


// Advanced filtering :
// Block immediately a POST request if it contains a 'whatever' variable
// sent to a script named 'script.php' :
// if ( isset($_POST['whatever']) && strpos($_SERVER['SCRIPT_NAME'], 'script.php') !== FALSE ) {
// 	return 'BLOCK';
// }


// do not add anything below this line.
