/* #side-sortables #shoptimizer_settings_meta_box select {
    width: 100%;
} */

.block-editor-page #shoptimizer_settings_meta_box .post-attributes-label-wrapper {
    margin-top: 12px;
}

.block-editor-page #shoptimizer_settings_meta_box .components-select-control__input {
    width: inherit;
}