/*

Name: Summit
Background: White
Color: Blue
Type: Skeuomorphic
Preview: https://yootheme.com/api/style/summit/default.jpg

Style: light-purple
Name: Light Purple
Background: Light
Color: Purple
Type: Skeuomorphic
Preview: https://yootheme.com/api/style/summit/light-purple.jpg

Style: white-turquoise
Name: White Turquoise
Background: White
Color: Turquoise
Type: Skeuomorphic
Preview: https://yootheme.com/api/style/summit/white-turquoise.jpg

Style: white-pink
Name: White Pink
Background: White
Color: Pink
Type: Skeuomorphic
Preview: https://yootheme.com/api/style/summit/white-pink.jpg

Style: white-red
Name: White Red
Background: White
Color: Red
Type: Skeuomorphic
Preview: https://yootheme.com/api/style/summit/white-red.jpg

Style: white-yellow
Name: White Yellow
Background: White
Color: Yellow
Type: Skeuomorphic
Preview: https://yootheme.com/api/style/summit/white-yellow.jpg

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-summit/_import.less";

// Theme
@import "theme.less";


// Variables
// ========================================================================

//
// Toolbar
//

@theme-toolbar-color-mode:                              dark;

//
// Header
//

@theme-headerbar-font-size:                             @global-small-font-size;

//
// Mask
//

@internal-theme-mask-default-image:                      "../vendor/assets/uikit-themes/master-summit/images/mask-default-image.svg";

//
// Box Decoration
//

@theme-box-decoration-z-index:                           1;

@theme-box-decoration-default-transform-horizontal:      0;
@theme-box-decoration-default-transform-vertical:        0;
@theme-box-decoration-default-background:                @card-default-border;

@theme-box-decoration-primary-transform-horizontal:      0;
@theme-box-decoration-primary-transform-vertical:        0;
@theme-box-decoration-primary-background:                @card-default-border;

@theme-box-decoration-secondary-transform-horizontal:    0;
@theme-box-decoration-secondary-transform-vertical:      0;
@theme-box-decoration-secondary-background:              @card-default-border;



.hook-box-decoration() {

    &::before {
        background-color: transparent !important;
        border-image-slice: 3% fill;
        border-image-width: 10px;
        border-image-repeat: stretch;
    }

}

.hook-box-decoration-default() {

    padding: 5px;

    &::before { .svg-fill("../../../../uikit-themes/master-summit/images/box-decoration-default-image.svg", "#000", @theme-box-decoration-default-background, border-image-source); }

}

.hook-box-decoration-primary() {

    padding: 8px;

    &::before { .svg-fill("../../../../uikit-themes/master-summit/images/box-decoration-primary-image.svg", "#000", @theme-box-decoration-default-background, border-image-source); }

}

.hook-box-decoration-secondary() {

    padding: 16px;

    &::before { .svg-fill("../../../../uikit-themes/master-summit/images/box-decoration-primary-image.svg", "#000", @theme-box-decoration-default-background, border-image-source); }

}

//
// WooCommerce
//

//
// Woocommerce
//

@woocommerce-rating-color:                              darken(@global-primary-background, 15%);

//
// Widgets
//

@woocommerce-widget-active-filters-font-size:           @global-small-font-size;


// Style
// ========================================================================

@import (optional) "../vendor/assets/uikit-themes/master-summit/styles/@{internal-style}.less";

@internal-style: ~'';
