/*

Name: Soda
Background: White
Color: Turquoise
Type: Flat
Preview: https://yootheme.com/api/style/soda/default.jpg

Style: white-red
Name: White Red
Background: White
Color: Red
Type: Flat
Preview: https://yootheme.com/api/style/soda/white-red.jpg

Style: white-pink
Name: White Pink
Background: White
Color: Pink
Type: Flat
Preview: https://yootheme.com/api/style/soda/white-pink.jpg

Style: white-green
Name: White Green
Background: White
Color: Green
Type: Flat
Preview: https://yootheme.com/api/style/soda/white-green.jpg

Style: white-darkblue
Name: White Darkblue
Background: White
Color: Blue
Type: Flat
Preview: https://yootheme.com/api/style/soda/white-darkblue.jpg

Style: white-blue
Name: White Blue
Background: White
Color: Blue
Type: Flat
Preview: https://yootheme.com/api/style/soda/white-blue.jpg

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-soda/_import.less";

// Theme
@import "theme.less";


// Variables
// ========================================================================

//
// Page border
//

@theme-page-border-width:                                12px;
@theme-page-border:                                      #000000;

//
// WooCommerce
//

//
// Shop page
//

@woocommerce-shop-page-price-font-size:                 @global-font-size;
@woocommerce-shop-page-price-line-height:               @global-line-height;

//
// Rating
//

@woocommerce-rating-color:                              @global-primary-background;

//
// Review Link
//

@woocommerce-review-link-font-size:                     @global-font-size;
@woocommerce-review-link-line-height:                   @global-line-height;

//
// Widgets
//

@woocommerce-widget-font-size:                          @global-font-size;
@woocommerce-widget-line-height:                        @global-line-height;

@woocommerce-widget-active-filters-border-radius:       0;
@woocommerce-widget-active-filters-font-size:           @global-small-font-size;


// Style
// ========================================================================

@import (optional) "../vendor/assets/uikit-themes/master-soda/styles/@{internal-style}.less";

@internal-style: ~'';
