#yith-wcwl-popup-message
{
    display:none !important;
}

.yith-wcwl-add-to-wishlist,
.yith-add-to-wishlist-button-block
{
    margin: 0 0 17px;
    height: auto;
    position: relative;
    height: auto;

    .yith-wcwl-add-button
    {
        &.show
        {
            &:before
            {
                content: "";
            }

            a.add_to_wishlist
            {

                .add_to_wishlist_text
                {

                    &:before
                    {
                        top: 100%;
                        left: 10px;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-color: rgba(27,27,29,0);
                        border-top-color: #1b1b1d;
                        border-width: 4px;
                    }

                    svg.yith-wcwl-icon-svg {
                        //display: none;
                    }
                }

            }
        }

    }

    .yith-wcwl-add-button:before
    {
        content: "\f08a";
    }

    @media #{$xlarge-up} {
        &:after
        {
            content: "";
            width: 50px;
            height: 1px;
            display: block;
            margin-top: 15px;
        }
    }

}
