//
// Loads Woocommerce Styles
//
// ========================================================================

@import (optional) "../packages/theme-wordpress-woocommerce/assets/less/woocommerce.less";

/*
 * Editor
 */

.alignleft:extend(.uk-align-left all) {}
.alignright:extend(.uk-align-right all) {}
.aligncenter:extend(.uk-align-center all) {}

/*
 * Text meant only for screen readers.
 * https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/*
 * Fix Drop Cap with Page Break
 */

 .uk-dropcap > .tm-page-break-first-page + p::first-letter:extend(.uk-dropcap > p:first-of-type::first-letter all) {}

.hook-wordpress-misc();
.hook-wordpress-misc() {}
