
#primary-navigation.responsive #primary-menu li > a,
#primary-navigation.responsive #primary-menu li > span.megamenu-column-header > a {
	font-family: 'Montserrat';
}

#primary-navigation.responsive #primary-menu li > a,
#primary-navigation.responsive #primary-menu li > span.megamenu-column-header > a {
	font-weight: 700;
}

#primary-navigation.responsive #primary-menu li > a,
#primary-navigation.responsive #primary-menu li > span.megamenu-column-header > a {
	font-size: 24px;
}

#primary-navigation.responsive #primary-menu li > a,
#primary-navigation.responsive #primary-menu li > span.megamenu-column-header > a {
	line-height: 48px;
}

.mobile-menu-layout-slide-horizontal #primary-navigation.responsive .mobile-menu-slide-wrapper,
.mobile-menu-layout-slide-vertical #primary-navigation.responsive .mobile-menu-slide-wrapper,
body .menu-overlay.mobile {
	background-color: #212331;
}

#primary-navigation.responsive #primary-menu > li > a,
#primary-navigation.responsive #primary-menu > li > .menu-item-parent-toggle,
#primary-navigation.responsive ul.dl-submenu.level1 > li > a,
.primary-navigation.responsive .minisearch .sf-input,
.mobile-menu-layout-overlay #primary-navigation.responsive #primary-menu > li.menu-item-search > .minisearch input[type="text"],
.mobile-menu-layout-overlay #primary-navigation.responsive #primary-menu > li.menu-item-search > .minisearch .sf-submit-icon:before,
.mobile-cart-position-top .menu-overlay.mobile.active + #site-header .mobile-cart > a:before {
	color: #ffffff;
}
.primary-navigation.responsive .minisearch .sf-input::placeholder,
.mobile-menu-layout-overlay #primary-navigation.responsive #primary-menu > li.menu-item-search > .minisearch input[type="text"]::placeholder {
	color: #ffffff;
}
.primary-navigation.responsive .minisearch .sf-input::-webkit-input-placeholder,
.mobile-menu-layout-overlay #primary-navigation.responsive #primary-menu > li.menu-item-search > .minisearch input[type="text"]::-webkit-input-placeholder{
	color: #ffffff;
}

#page #site-header.mobile-menu-layout-overlay .header-main #primary-navigation.overlay-active:not(.close) .menu-toggle .menu-line-1,
#page #site-header.mobile-menu-layout-overlay .header-main #primary-navigation.overlay-active:not(.close) .menu-toggle .menu-line-2,
#page #site-header.mobile-menu-layout-overlay .header-main #primary-navigation.overlay-active:not(.close) .menu-toggle .menu-line-3,
#page #site-header.mobile-menu-layout-overlay .header-main #perspective-menu-buttons.overlay-active:not(.close) .menu-toggle .menu-line-1,
#page #site-header.mobile-menu-layout-overlay .header-main #perspective-menu-buttons.overlay-active:not(.close) .menu-toggle .menu-line-2,
#page #site-header.mobile-menu-layout-overlay .header-main #perspective-menu-buttons.overlay-active:not(.close) .menu-toggle .menu-line-3 {
	background-color: #ffffff;
}

.mobile-menu-layout-overlay #primary-navigation.responsive #primary-menu > li.menu-item-search > .minisearch input[type="text"] {
	border-color: #ffffff;
}


#primary-navigation.responsive #primary-menu > li.menu-item-current > a,
#primary-navigation.responsive #primary-menu > li.menu-item-active > a,
#primary-navigation.responsive #primary-menu > li.opened > a,
#primary-navigation.responsive #primary-menu > li.menu-item-current > .menu-item-parent-toggle,
#primary-navigation.responsive #primary-menu > li.menu-item-active > .menu-item-parent-toggle,
#primary-navigation.responsive #primary-menu > li.opened > .menu-item-parent-toggle,
#primary-navigation.responsive ul.dl-submenu.level1 > li.menu-item-current > a,
#primary-navigation.responsive ul.dl-submenu.level1 > li.menu-item-active > a,
#primary-navigation.responsive #primary-menu > li.menu-overlay-item-open > a,
#primary-navigation.responsive #primary-menu > li.menu-overlay-item-open > .menu-item-parent-toggle {
	color: #00bcd4;
}


#primary-navigation.responsive #primary-menu > li > ul > li > a,
#primary-navigation.responsive #primary-menu > li > ul > li > .menu-item-parent-toggle,
#primary-navigation.responsive #primary-menu > li > ul > li > span.megamenu-column-header > a,
#primary-navigation.responsive ul.dl-submenu.level2 > li > a,
#primary-navigation.responsive ul.dl-submenu.level2 > li > span.megamenu-column-header > a {
	color: #ffffff;
}


#primary-navigation.responsive #primary-menu > li > ul > li.menu-item-current > a,
#primary-navigation.responsive #primary-menu > li > ul > li.menu-item-active > a,
#primary-navigation.responsive #primary-menu > li > ul > li.opened > a,
#primary-navigation.responsive #primary-menu > li > ul > li.menu-item-current > .menu-item-parent-toggle,
#primary-navigation.responsive #primary-menu > li > ul > li.menu-item-active > .menu-item-parent-toggle,
#primary-navigation.responsive #primary-menu > li > ul > li.opened > .menu-item-parent-toggle,
#primary-navigation.responsive #primary-menu > li > ul > li.menu-item-current > span.megamenu-column-header > a,
#primary-navigation.responsive #primary-menu > li > ul > li.menu-item-active > span.megamenu-column-header > a,
#primary-navigation.responsive #primary-menu > li > ul > li.opened > span.megamenu-column-header > a,
#primary-navigation.responsive ul.dl-submenu.level2 > li.menu-item-current > a,
#primary-navigation.responsive ul.dl-submenu.level2 > li.menu-item-active > a,
#primary-navigation.responsive ul.dl-submenu.level2 > li.menu-item-current > span.megamenu-column-header > a,
#primary-navigation.responsive ul.dl-submenu.level2 > li.menu-item-active > span.megamenu-column-header > a,
#primary-navigation.responsive #primary-menu > li > ul > li.menu-overlay-item-open > a,
#primary-navigation.responsive #primary-menu > li > ul > li.menu-overlay-item-open > span.megamenu-column-header > a,
#primary-navigation.responsive #primary-menu > li > ul > li.menu-overlay-item-open > .menu-item-parent-toggle {
	color: #00bcd4;
}


#primary-navigation.responsive #primary-menu > li > ul > li > ul li > a,
#primary-navigation.responsive #primary-menu > li > ul > li > ul li > .menu-item-parent-toggle,
#primary-navigation.responsive #primary-menu > li > ul > li > ul li > span.megamenu-column-header > a,
#primary-navigation.responsive ul.dl-submenu.level3 > li > a {
	color: #ffffff;
}


#primary-navigation.responsive #primary-menu > li > ul > li > ul li.menu-item-current > a,
#primary-navigation.responsive #primary-menu > li > ul > li > ul li.menu-item-active > a,
#primary-navigation.responsive #primary-menu > li > ul > li > ul li.opened > a,
#primary-navigation.responsive #primary-menu > li > ul > li > ul li.menu-item-current > .menu-item-parent-toggle,
#primary-navigation.responsive #primary-menu > li > ul > li > ul li.menu-item-active > .menu-item-parent-toggle,
#primary-navigation.responsive #primary-menu > li > ul > li > ul li.opened > .menu-item-parent-toggle,
#primary-navigation.responsive #primary-menu > li > ul > li > ul li.menu-item-current > span.megamenu-column-header > a,
#primary-navigation.responsive #primary-menu > li > ul > li > ul li.menu-item-active > span.megamenu-column-header > a,
#primary-navigation.responsive #primary-menu > li > ul > li > ul li.opened > span.megamenu-column-header > a,
#primary-navigation.responsive ul.dl-submenu.level3 > li.menu-item-current > a,
#primary-navigation.responsive ul.dl-submenu.level3 > li.menu-item-active > a,
#primary-navigation.responsive #primary-menu > li > ul > li > ul li.menu-overlay-item-open > a,
#primary-navigation.responsive #primary-menu > li > ul > li > ul li.menu-overlay-item-open > span.megamenu-column-header > a,
#primary-navigation.responsive #primary-menu > li > ul > li > ul li.menu-overlay-item-open > .menu-item-parent-toggle {
	color: #00bcd4;
}




#primary-navigation.responsive .mobile-menu-slide-wrapper .mobile-menu-slide-close:before,
#primary-navigation.responsive .mobile-menu-slide-wrapper .mobile-menu-slide-close:after {
	background-color: #00bcd4;
}

#primary-navigation.responsive #primary-menu li > a {
	background: transparent !important;
}