/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable no-descending-specificity */
.fusion-vertical-menu-widget ul.menu li a {
  font-family: var(--nav_typography-font-family);
  font-weight: var(--nav_typography-font-weight);
  font-size: var(--nav_typography-font-size);
  letter-spacing: var(--nav_typography-letter-spacing);
  text-transform: var(--nav_typography-text-transform);
}
#main .sidebar:not(.fusion-sticky-sidebar),
#main .fusion-sticky-sidebar .fusion-sidebar-inner-content {
  background-color: var(--sidebar_bg_color);
}
#main .sidebar {
  padding: var(--sidebar_padding);
}
#main .sidebar.fusion-sticky-sidebar .fusion-sidebar-inner-content {
  padding: var(--sidebar_padding-percent_to_vw);
}
.sidebar .widget .widget-title,
.sidebar .widget .heading .widget-title {
  background-color: var(--sidebar_widget_bg_color);
  padding: var(--sidebar_widget_bg_color-opaque-padding);
}
.sidebar .widget .widget-title {
  font-size: var(--sidew_font_size);
}
.sidebar .widget .widget-title,
.sidebar .widget .heading h4 {
  color: var(--sidebar_heading_color);
}
#wrapper .fusion-widget-area .current_page_item > a,
#wrapper .fusion-widget-area .current-menu-item > a,
#wrapper .fusion-vertical-menu-widget .menu li.current_page_ancestor > a,
#wrapper .fusion-vertical-menu-widget .menu li.current-menu-item > a,
#wrapper .fusion-widget-area .current_page_item > a:before,
#wrapper .fusion-widget-area .current-menu-item > a:before,
.side-nav ul > li.current_page_item > a,
.side-nav li.current_page_ancestor > a {
  color: var(--primary_color);
}
.fusion-content-widget-area .widget_categories li a:hover,
.fusion-content-widget-area .widget li a:hover,
.fusion-content-widget-area .widget li a:hover:before,
.fusion-content-widget-area .widget_nav_menu li a:hover:before,
.fusion-content-widget-area .widget_categories li a:hover:before,
.fusion-content-widget-area .widget .recentcomments:hover:before,
.fusion-content-widget-area .widget_recent_entries li a:hover:before,
.fusion-content-widget-area .widget_archive li a:hover:before,
.fusion-content-widget-area .widget_pages li a:hover:before,
.fusion-content-widget-area .widget_links li a:hover:before,
.side-nav .arrow:hover:after,
#wrapper .jtwt .jtwt_tweet a:hover {
  color: var(--link_hover_color);
}
#wrapper .side-nav li.current_page_item a,
#wrapper .fusion-vertical-menu-widget .menu li.current_page_item > a {
  border-right-color: var(--primary_color);
  border-left-color: var(--primary_color);
}
.fusion-content-widget-area .fusion-tabs-widget .fusion-tabs-nav ul li.active a {
  border-top-color: var(--primary_color);
}
.fusion-content-widget-area .widget li a,
.fusion-content-widget-area .widget .recentcomments a,
.fusion-content-widget-area .widget_categories li {
  color: var(--link_color);
}
